<section class="testimonials-reviews">
    <div class="container">
        <div class="testimonials-reviews__wrapper">
            <div class="testimonials-reviews__col">
                <div class="testimonials-reviews__rating">
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="testimonials-reviews__text">It is always a pleasure going to Dr. Greyf's dental practice. From
                    the staff to the service, absolutely amazing! The staff are always welcoming, and they are flexible
                    when it comes to scheduling my appointments. And my dental hygienist is the best! She is soo
                    thorough and knowledgeable. It just makes my experience coming to the dentist wonderful.</p>
                <span class="testimonials-reviews__name">Pilar F.</span>
            </div>
            <div class="testimonials-reviews__col">
                <div class="testimonials-reviews__rating">
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="testimonials-reviews__text">I had been looking for a good dentist for 15 years in Staten
                    Island and found this office in NJ. Now I am seeing Dr. Greyf and Dr. Desai since May 2021 and
                    everybody is nice and responsive. The doctor addressed the issue right away and put in place an
                    affordable treatment plan. His bedside manner is great! They are knowledgeable and can take care of
                    my entire family, including my 12-year-old son. After that, I referred a lot of my coworkers and
                    friends. They are also happy with the dental care they are getting. I am happy now!</p>
                <span class="testimonials-reviews__name">Michael S.</span>
            </div>
            <div class="testimonials-reviews__col">
                <div class="testimonials-reviews__rating">
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="testimonials-reviews__text">Very professional and well-run practice. Staff and technicians are
                    very competent and friendly and put you at ease during all phases of the visit. Dr. Greyf is highly
                    knowledgeable, engaging, and proficient at his craft. He laid out a plan of action that accommodates
                    my timeline and meets my needs.</p>
                <span class="testimonials-reviews__name">Ann E.</span>
            </div>
            <div class="testimonials-reviews__col">
                <div class="testimonials-reviews__rating">
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="testimonials-reviews__text">Went for a visit at Dr. Greyf DDS in Millburn NJ. Dr. Desai and
                    the team make me feel appreciated, they are very professional. During my procedure she explained the
                    process and stopped during the procedure to check and make sure I'm okay. Awesome service from the
                    beginning to the end! The ladies at the front desk are very welcoming. Thanks for your assistance,
                    team Greyf!</p>
                <span class="testimonials-reviews__name">Arlene F.</span>
            </div>
            <div class="testimonials-reviews__col">
                <div class="testimonials-reviews__rating">
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="testimonials-reviews__text">I am amazed. I think I found my lifelong dentist. All I can say is
                    «Wow!» I had a painful molar that needed a complicated extraction. I had zero pain during the
                    procedure, and even more surprised that I had no pain at all for the days following! He was
                    extremely helpful and offered affordable options and was very friendly. The office staff was very
                    warm and guided me through the whole process. What a relief it is to have found a quality, caring
                    dental professional that I can trust, with a staff all aiming for the best service. I highly
                    recommend a visit to this office!</p>
                <span class="testimonials-reviews__name">K. Lowe</span>
            </div>
            <div class="testimonials-reviews__col">
                <div class="testimonials-reviews__rating">
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="testimonials-reviews__text">Dr. Greyf examined my teeth and was very thorough in describing
                    the plan of what needs to be done with them. Not only was he knowledgeable about what to do, but he
                    was also very personable. I also want to recognize the office staff for making my visit an easy one.
                    They were also very personable and pleasant to talk to.</p>
                <span class="testimonials-reviews__name">Srul A.</span>
            </div>
            <div class="testimonials-reviews__col">
                <div class="testimonials-reviews__rating">
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="testimonials-reviews__text">I have been a patient of Dr. Greyf for 8+ years. I have very
                    sensitive teeth and always hated going to the dentist, but Dr. Greyf has always treated me with
                    incredible dental care and kindness. I have found him to be highly skilled, as well as clear and
                    patient in communicating with me about procedures. I recently had a more serious tooth situation to
                    address, and he truly went above and beyond in the care he provided. I have never had a dental (or
                    possibly medical!) professional who has been so attentive in procedure follow-up and ensuring
                    healing. Dr. Greyf is a natural in establishing trust with his patients and in helping to calm
                    nerves. I'm very grateful to be his patient!</p>
                <span class="testimonials-reviews__name">Leanne S.</span>
            </div>
            <div class="testimonials-reviews__col">
                <div class="testimonials-reviews__rating">
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="testimonials-reviews__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="testimonials-reviews__text">I've been a patient of Dr. Greyf for almost 10 years now. He makes
                    you feel comfortable and cared for during every visit. Always satisfied with the work he does. The
                    staff is welcoming and friendly. Any questions or inquiries are answered quickly and professionally.
                    If you want reliable work done, I recommend Dr. Greyf.</p>
                <span class="testimonials-reviews__name">Mariya K.</span>
            </div>
        </div>
    </div>
</section>
