<section class="testimonials-video">
    <div class="container">
        <div class="testimonials-video__wrapper">
            <div class="testimonials-video__video">
                <img src="../../assets/images/testimonials/testimonials-video/testimonials-video-poster.png" alt="">
                <button class="testimonials-video__play">
                    <img src="../../assets/images/icons/play-red.svg" alt="">
                </button>
            </div>
            <div class="testimonials-video__video">
                <img src="../../assets/images/testimonials/testimonials-video/testimonials-video-poster.png" alt="">
                <button class="testimonials-video__play">
                    <img src="../../assets/images/icons/play-red.svg" alt="">
                </button>
            </div>
            <div class="testimonials-video__video">
                <img src="../../assets/images/testimonials/testimonials-video/testimonials-video-poster.png" alt="">
                <button class="testimonials-video__play">
                    <img src="../../assets/images/icons/play-red.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</section>
