@use "../utils/utils" as *;
@use "../components/components" as *;

.header {
  width: 100%;
  position: relative;
  z-index: 100;

  // .header__top
  &__top {
    padding: 1rem 0;
    background: $light-blue;
  }

  // .header__top-wrapper
  &__top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__top-left
  &__top-left {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include media(767.98, "max") {
      display: none;
    }
  }

  // .header__link
  &__link {
    @include small;

    @include media(992.98, "max") {
      @include small;
    }

    @include device-pointer() {
      &:hover {
        color: $gray;
        transition: color 0.3s ease-in-out;
      }
    }

    &--technology {
      @include media(992.98, "max") {
        display: none;
      }
    }
  }

  // .header__top-right
  &__top-right {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include media(767.98, "max") {
      width: 100%;
    }
  }

  // .header__phone
  &__phone {
    @include small;

    @include media(992.98, "max") {
      @include small;
    }

    @include media(767.98, "max") {
      display: none;
    }
  }

  // .header__address
  &__address {
    @include small;

    @include media(992.98, "max") {
      @include small;
    }

    &--desktop {
      @include media(767.98, "max") {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include media(767.98, "max") {
        display: block;
      }
    }
  }

  // .header__call-now
  &__call-now {
    @include small;
    color: $blue;
    display: none;
    margin-left: auto;

    @include media(767.98, "max") {
      display: block;
    }
  }

  // .header__directions
  &__directions {
    @include small;
    color: $blue;

    @include media(992.98, "max") {
      @include small;
    }
  }

  // .header__bottom-wrapper
  &__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__bottom
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7.6rem;

    @include media(992.98, "max") {
      height: 5.6rem;
    }
  }

  // .header__inner
  &__inner {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: flex-start;

    @include media(992.98, "max") {
      gap: 1.3rem;
    }
  }

  // .header__logo
  &__logo {
    @include media(992.98, "max") {
      display: none;
    }
  }

  // .header__burger
  &__burger {
    display: none;
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
    background: $light-blue;
    border-radius: 50%;
    @include media(992.98, "max") {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;
    }
  }

  // .header__burger-line
  &__burger-line {
    width: 2rem;
    height: 0.2rem;
    background: $black;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
  }

  // .header__logo-image
  &__logo-image {
    width: 3.1rem;
    height: auto;
  }

  // .header__logo-container
  &__logo-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    @include media(992.98, "max") {
      flex-direction: row;
      gap: 1.3rem;
    }

    @include media(576.98, "max") {
      gap: 1rem;
    }
  }

  // .header__logo-title
  &__logo-title {
    @include extra-bold;

    @include media(1280.98, "max") {
      @include extra-bold-mob;
    }

    @include media(355.98, "max") {
      font-size: 1.6rem;
    }
  }

  // .header__logo-details
  &__logo-details {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    width: max-content;
  }

  // .header__logo-detail
  &__logo-detail {
    @include small-extra-bold;
    position: relative;

    @include media(992.98, "max") {
      @include small-extra-bold-mob;
    }

    @include media(576.98, "max") {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -0.7rem;
      transform: translateY(-50%);
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      background: $blue;
    }
  }

  // .header__logo-flag
  &__logo-flag {
    width: 1.3rem;
    height: auto;

    @include media(380.98, "max") {
      display: none;
    }
  }

  // .header__nav
  &__nav {
    @include media(992.98, "max") {
      display: none;
    }
  }

  // .header__nav-list
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 3rem;

    @include media(1280.98, "max") {
      gap: 1.5rem;
    }
  }

  // .header__nav-item
  &__nav-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 7.6rem;

    @include device-pointer() {
      &:hover {
        .header__dropdown {
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  // .header__nav-link
  &__nav-link {
    display: flex;
    align-items: center;
    position: relative;
    @include h3;
    height: 4.6rem;
    transition: color 0.3s ease-in-out;

    @include media(1280.98, "max") {
      font-size: 1.6rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background: $blue;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }
    ._active & {
      &::after {
        transform: scaleX(1);
      }
    }

    @include device-pointer() {
      &:hover {
        color: $blue;
      }
    }
  }

  // .header__book-btn
  &__book-btn {
    @include media(380.98, "max") {
      width: 8.3rem;
    }
    .button-icon {
      @include media(380.98, "max") {
        display: none;
      }
    }
  }

  // .header__book-btn-text
  &__book-btn-text {
    &--desktop {
      @include media(576.98, "max") {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include media(576.98, "max") {
        display: block;
      }
    }
  }

  // .header__dropdown
  &__dropdown {
    position: absolute;
    top: calc(100% - 1rem);
    transform: translateY(-1rem);
    left: -1rem;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
      0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    background: $light-blue;
    transition: all 0.3s ease-in-out;
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  // .header__dropdown-list
  &__dropdown-list {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // .header__dropdown-item
  &__dropdown-item {
    width: max-content;
  }

  // .header__dropdown-link
  &__dropdown-link {
    transition: color 0.3s ease-in-out;

    @include device-pointer() {
      &:hover {
        color: $blue;
      }
    }
  }
}
