@use "../utils/utils" as *;
@use "../components/components" as *;

.submenu {
  @include media(576.98, "max") {
    position: relative;
    height: 5.5rem;
    z-index: 99;
  }

  &._open {
    @include media(576.98, "max") {
      z-index: 999;
    }
  }

  // .submenu__overlay
  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 90;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;

    ._open & {
      @include media(576.98, "max") {
        opacity: 1;
        visibility: visible;
      }
    }

    ._close & {
      @include media(576.98, "max") {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  // .submenu__toggle
  &__toggle {
    display: none;
    padding: 1.5rem 3rem;
    background: $sand;
    position: relative;
    z-index: 91;

    @include media(576.98, "max") {
      display: block;
      border-radius: 2rem;
    }
  }

  // .submenu__toggle-btn
  &__toggle-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  // .submenu__toggle-title
  &__toggle-title {
    @include h3;
  }

  // .submenu__toggle-title-dropdown
  &__toggle-title-dropdown {
    @include h2;
  }

  // .submenu__toggle-icon
  &__toggle-icon {
    position: relative;
    width: 2rem;
    height: 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      background-image: url("../assets/images/icons/arrow-bottom.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 1.6rem;
      height: 1.6rem;
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out;
    }

    ._open & {
      &::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    ._close & {
      &::before {
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }

  // .submenu__wrapper
  &__wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media(576.98, "max") {
      overflow: visible;
      height: auto;
      transition: all 0.5s linear;
      position: relative;
    }
  }

  // .submenu__inner
  &__inner {
    @include media(576.98, "max") {
      position: relative;
      // border-radius: 2rem;
      // overflow: hidden;
    }
  }

  // .submenu__dropdown
  &__dropdown {
    background: $sand;
    width: max-content;
    border-radius: 15rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;

    @include media(576.98, "max") {
      width: 100%;
      border-radius: 2rem;
      padding: 0 3rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      max-height: 0px;
      visibility: hidden;
      background: $sand;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: max-height 0.5s ease-in-out, visibility 0.5s ease-in-out,
        padding 0.5s ease-in-out;
      position: absolute;
      top: 0;
      transform: translateY(0);
      z-index: 100;
      pointer-events: none;
    }

    ._open & {
      @include media(576.98, "max") {
        max-height: 800px;
        visibility: visible;
        padding: 2rem 3rem;
        pointer-events: all;
      }
    }

    ._close & {
      @include media(576.98, "max") {
        max-height: 0px;
        visibility: hidden;
        padding: 0 3rem;
        pointer-events: none;
      }
    }
  }

  // .submenu__toggle-title-dropdown
  &__toggle-title-dropdown {
    @include h2;
    display: none;

    @include media(576.98, "max") {
      display: block;
    }
  }

  // .submenu__dropdown-wrapper
  &__dropdown-wrapper {
    @include media(576.98, "max") {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      transition-delay: 0.2s;
    }
    ._open & {
      @include media(576.98, "max") {
        opacity: 1;
      }
    }

    ._close & {
      @include media(576.98, "max") {
        opacity: 0;
        transition-delay: 0s;
      }
    }
  }

  // .submenu__list
  &__list {
    background: $sand;
    width: max-content;
    border-radius: 15rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;

    @include media(576.98, "max") {
      width: 100%;
      border-radius: 0;
      padding: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  // .submenu__item
  &__item {
    padding: 1.5rem 0;
    position: relative;

    @include media(576.98, "max") {
      padding: 0.5rem 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background: $blue;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
    }

    &._active {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  // .submenu__link
  &__link {
    @include inter-regular;
    color: $sand-dark;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    transition: color 0.3s ease-in-out;

    ._active & {
      color: $black;
    }

    @include media(576.98, "max") {
      display: block;
      padding: 1.2rem 0;
      font-size: 1.6rem;
    }
  }
}
