@use "../utils/utils" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 7rem;
  overflow: hidden;

  &-icon {
    width: 1.6rem;
  }

  &-text {
    color: $white;
    @include small-caps;
    width: max-content;
    position: relative;
    z-index: 2;
  }

  &--green {
    height: 4rem;
    background: $green;
    padding: 1.2rem 2rem;
    transition: all 0.3s ease-in-out;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }

    @include device-pointer() {
      &:hover {
        &:after {
          opacity: 0.03;
        }
      }
    }

    &:focus {
      &:after {
        opacity: 0.06;
      }
    }
  }

  &--blue {
    height: 5rem;
    background: $blue;
    padding: 2rem 3rem;
    transition: all 0.3s ease-in-out;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }

    @include device-pointer() {
      &:hover {
        &:after {
          opacity: 0.03;
        }
      }
    }

    &:focus {
      &:after {
        opacity: 0.06;
      }
    }
  }

  &--light-blue {
    height: 5rem;
    background: $light-blue;
    padding: 2rem 3rem;
    transition: all 0.3s ease-in-out;

    .button-text {
      color: $blue;
    }
  }

  &--transparent {
    .button-text {
      @include inter-regular;
      font-weight: 600;
      color: $blue;
      font-size: 1.4rem;
      line-height: 1;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  &--outline {
    height: 5rem;
    background: transparent;
    border: 2px solid $blue;
    padding: 2rem 3rem;
    transition: all 0.3s ease-in-out;

    .button-text {
      color: $blue;
    }
  }

  &--variants {
    height: 5rem;
    padding: 2rem 3rem;
    transition: all 0.3s ease-in-out;

    .button-text {
      color: $white;
    }
  }
}
