@use "../utils/utils" as *;

.form {
  &-field {
    position: relative;
  }

  &-input {
    @include paragraph;
    width: 100%;
    padding: 1.7rem 2rem;
    background: rgba(247, 244, 238, 0.5);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) inset;
    @include paragraph;
    border-radius: 0.8rem;

    @include media(576.98, "max") {
      padding: 1rem 2rem;
    }

    &:focus {
      padding: 2.7rem 2rem 0.7rem;
    }

    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label {
      top: 0.8rem;
      transform: translateY(0);
    }

    &:not(:placeholder-shown) {
      padding: 2.7rem 2rem 0.7rem;
    }

    &.is-invalid {
      background: #ffe4ea;
      color: #da0936;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $black;
      -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) inset;
    }
  }

  &-label {
    @include paragraph;
    color: $sand-dark;
    position: absolute;
    top: 1.7rem;
    left: 2rem;
    transition: 0.2s ease all;
    pointer-events: none;
  }

  &-textarea {
    resize: none;
    width: 100%;
    background: rgba(247, 244, 238, 0.5);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) inset;
    @include paragraph;
    padding: 1.7rem 2rem 2rem;
    border-radius: 0.8rem;
    min-height: 15rem;

    &::placeholder {
      @include paragraph;
      color: $sand-dark;
    }
  }

  &-error {
    background: #ffe4ea;
    color: #da0936;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    @include paragraph;
  }

  &-label-checkbox {
    display: flex;
    gap: 0.8rem;
    @include small;
    color: $dark-gray;
  }

  &-checkbox__custom-highlight {
    color: #ff4a4a;
    display: contents;
  }

  &-checkbox__custom {
    display: block;
    max-width: 1.6rem;
    width: 100%;
    height: 1.6rem;
    background: $light-gray;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    transition: background 0.2s ease;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1rem;
      height: 1rem;
      transform: translate(-50%, -50%);
      background-image: url("../assets/images/icons/tick-light.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  &-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked + .form-label-checkbox .form-checkbox__custom {
      background: $blue;
    }

    &:checked + .form-label-checkbox .form-checkbox__custom::after {
      opacity: 1;
    }
  }

  &-hint {
    padding: 0.5rem 2rem 0;
    @include small;
    color: $sand-dark;
  }
}
