<section class="faq-detail">
    <div class="container">
        <h1 class="faq-detail__title">Frequently Asked Questions</h1>
        <div class="faq-detail__wrapper">
            <aside class="faq-detail__aside">
                <ul class="faq-detail__nav">
                    <li class="faq-detail__nav-item">
                        <a href="#faq-1" class="faq-detail__nav-link">What are dental implants?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-2" class="faq-detail__nav-link">Are dental implants common?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-3" class="faq-detail__nav-link">Are dental implants safe?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-4" class="faq-detail__nav-link">How painful is getting a dental implant?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-5" class="faq-detail__nav-link">How often should I get a dental checkup if I have
                            dental implants?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-6" class="faq-detail__nav-link">How do dental implants help if I have full dentures or
                            partial dentures?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-7" class="faq-detail__nav-link">What are the advantages of dental implants?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-8" class="faq-detail__nav-link">What are the disadvantages of dental implants?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-9" class="faq-detail__nav-link">How much do dental implants cost and does insurance
                            cover the cost?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-10" class="faq-detail__nav-link">What is the success rate of dental implants?</a>
                    </li>
                    <li class="faq-detail__nav-item">
                        <a href="#faq-11" class="faq-detail__nav-link">Who is a good candidate for dental implants?</a>
                    </li>
                </ul>
            </aside>

            <div class="faq-detail__content">

                <div id="faq-1" class="faq-detail__item">
                    <h2 class="faq-detail__question">What are dental implants?</h2>
                    <p class="faq-detail__answer">
                        A dental implant is a prosthesis used to replace a missing tooth/teeth. It consists of a small
                        titanium post or fixture that is surgically inserted into the jawbone. A structure called an
                        abutment is connected to the implant, and an artificial tooth or teeth are attached to the abutment.
                    </p>
                </div>
                <div id="faq-2" class="faq-detail__item">
                    <h2 class="faq-detail__question">Are dental implants common?</h2>
                    <p class="faq-detail__answer">
                        Yes, dental implants are common. Many individuals opt for dental implants to replace missing teeth
                        or those that cannot be saved. Dental implants are used to replace individual missing teeth or
                        stabilize dental bridges. They are reliable, long-lasting, and designed to look like natural teeth.
                    </p>
                </div>
                <div id="faq-3" class="faq-detail__item">
                    <h2 class="faq-detail__question">Are dental implants safe?</h2>
                    <p class="faq-detail__answer">
                        Yes, dental implants are safe. They have been used by dentists for over 30 years, and implant
                        technology continues to advance. Dental implants are considered one of the most reliable ways to
                        replace missing teeth. However, it's important to consult with a dental professional to determine if
                        dental implants are suitable for individual cases.
                    </p>
                </div>
                <div id="faq-4" class="faq-detail__item">
                    <h2 class="faq-detail__question">How painful is getting a dental implant?</h2>
                    <p class="faq-detail__answer">
                        Discomfort during a dental implant procedure can vary between individuals. However, most individuals
                        report that getting a dental implant is less uncomfortable than anticipated. Dentists use
                        anesthetics during the procedure to minimize discomfort. Following post-operative instructions and
                        taking prescribed antibiotics can help minimize any discomfort. Dentists may also prescribe pain
                        medication for larger implant procedures if necessary.
                    </p>
                </div>
                <div id="faq-5" class="faq-detail__item">
                    <h2 class="faq-detail__question">How often should I get a dental checkup if I have dental implants?</h2>
                    <p class="faq-detail__answer">
                        It is generally recommended for individuals with dental implants to visit a dentist twice a year for
                        dental checkups. Regular checkups allow the dentist to assess the condition of the implants, perform
                        professional cleanings, and ensure overall oral health.
                    </p>
                </div>
                <div id="faq-6" class="faq-detail__item">
                    <h2 class="faq-detail__question">How do dental implants help if I have full dentures or partial
                        dentures?</h2>
                    <p class="faq-detail__answer">
                        Dental implants greatly improve the stability and comfort of full or partial dentures. They help
                        keep removable implant overdentures securely in place, reducing or eliminating the need for
                        adhesives. Implants can also support fixed dentures that attach firmly to titanium components,
                        preventing movement. This makes eating, speaking, and smiling easier and more natural, improving
                        overall confidence and function.
                    </p>
                </div>
                <div id="faq-7" class="faq-detail__item">
                    <h2 class="faq-detail__question">What are the advantages of dental implants?</h2>
                    <p class="faq-detail__answer">
                        Dental implants offer several advantages, including long-term durability, improved appearance,
                        enhanced confidence, and the ability to eat and speak comfortably. Unlike natural teeth, dental
                        implants are not susceptible to dental decay. They are designed to look and function like natural
                        teeth, providing a permanent solution for missing teeth.
                    </p>
                </div>
                <div id="faq-8" class="faq-detail__item">
                    <h2 class="faq-detail__question">What are the disadvantages of dental implants?</h2>
                    <p class="faq-detail__answer">
                        While dental implants have numerous advantages, there are also some potential disadvantages. These
                        can include the risk of infection, inflammation, and pain associated with any surgical procedure.
                        Additionally, if there is insufficient bone available to support the implant, bone and gum grafting
                        procedures may be necessary, which can increase the overall cost of treatment. Dental implants can
                        be costly and take longer, but the benefits outweigh the disadvantages. In some rare cases, there is
                        a risk of complications, as in all medical procedures.
                    </p>
                </div>
                <div id="faq-9" class="faq-detail__item">
                    <h2 class="faq-detail__question">How much do dental implants cost and does insurance cover the cost?
                    </h2>
                    <p class="faq-detail__answer">
                        Dental implant costs vary based on your individual needs, bone condition, and treatment area.
                        Generally, replacing a single tooth with an implant is similar in cost to a traditional fixed
                        bridge. Implants may be partially covered by insurance depending on your plan. Our implant
                        procedures start at $1,700, but prices can vary based on your insurance and treatment specifics. We
                        offer a free consultation where we provide transparent, upfront pricing with all fees included.
                        <br />
                        Ready to learn more? <a href="#">Schedule your free consultation</a> today! <br />
                        For details, check out our <a href="#">Financial Options</a> and <a href="#">Dental Implant
                            Pricing</a>.
                    </p>
                </div>
                <div id="faq-10" class="faq-detail__item">
                    <h2 class="faq-detail__question">What is the success rate of dental implants?</h2>
                    <p class="faq-detail__answer">
                        The success rate of dental implants can vary depending on individual health, oral hygiene, and
                        various other factors. For healthy individuals with good oral hygiene, dental implants have reported
                        success rates above 90–95 percent. Regular dental care, conscientious home care, and professional
                        cleanings are important for maintaining the success and longevity of dental implants.
                    </p>
                </div>
                <div id="faq-11" class="faq-detail__item">
                    <h2 class="faq-detail__question">Who is a good candidate for dental implants?</h2>
                    <p class="faq-detail__answer">
                        Most individuals who are missing a single tooth, multiple teeth, or all teeth are suitable
                        candidates for dental implants. However, a thorough assessment by a dental professional is necessary
                        to determine the best course of treatment based on individual needs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
