@use "../utils/utils" as *;
@use "../components/components" as *;

.banner {
  margin-bottom: 8rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }
  .container {
    @include media(1440.98, "max") {
      padding: 0;
    }
  }

  // .banner__wrapper
  &__wrapper {
    position: relative;
    width: 100%;
    height: 52rem;
    border-radius: 2rem;
    overflow: hidden;

    @include media(1440.98, "max") {
      border-radius: 0;
    }
  }

  // .banner__image
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(10px);
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .banner__content
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-width: 67rem;
    width: 100%;
    margin: 0 auto;

    @include media(768.98, "max") {
      max-width: 100%;
      width: calc(100% - 6rem);
    }
  }

  // .banner__title
  &__title {
    @include h1;
    color: $white;
    margin-bottom: 2.7rem;
    text-align: center;

    @include media(576.98, "max") {
      @include h1-mob;
    }
  }

  // .banner__text
  &__text {
    @include h3;
    color: $white;
    margin-bottom: 2.7rem;
    text-align: center;
  }

  // .banner__button
  &__button {
    max-width: max-content;
  }
}
