@use "../utils/utils" as *;
@use "../components/components" as *;

.columns-block {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .columns-block__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem 2rem;

    @include media(992.98, "max") {
      grid-template-columns: repeat(1, 1fr);
      gap: 4rem;
    }
  }

  // .columns-block__col
  &__col {
    padding-right: 2rem;

    @include media(992.98, "max") {
      padding-right: 0;
    }
  }

  // .columns-block__title
  &__title {
    @include h2;
    margin-bottom: 2rem;
  }

  // .columns-block__text
  &__text {
    @include paragraph;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // .columns-block__button
  &__button {
    margin-top: 2rem;
  }

  // .columns-block__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;
  }

  // .columns-block__item
  &__item {
    position: relative;
    @include paragraph;

    &::before {
      content: "";
      position: absolute;
      top: 0.4rem;
      left: -3rem;
      background-image: url("../assets/images/icons/tick.svg");
      background-repeat: no-repeat;
      width: 2rem;
      height: 2rem;
    }
  }

  // .columns-block__item-link
  &__item-link {
    color: $blue;
  }

  // .columns-block__address
  &__address {
    @include paragraph;
    margin-bottom: 2rem;
    display: block;
  }

  // .columns-block__contacts
  &__contacts {
    display: flex;
    flex-direction: column;
  }

  // .columns-block__contact
  &__contact {
    padding: 1rem 0;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1rem;

    &:first-of-type {
      padding: 0 0 1rem;
    }

    &:last-of-type {
      padding: 1rem 0 0;
      border-bottom: none;
    }
  }

  // .columns-block__label
  &__label {
    @include paragraph;
    color: $sand-dark;
  }

  // .columns-block__value
  &__value {
    @include paragraph;
  }

  // .columns-block__link
  &__link {
    color: $blue;
  }
}

.columns-block-second {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto 6rem;

  @include media(992.98, "max") {
    max-width: 100%;
    margin: 0 auto 4rem;
  }

  // .columns-block__grid
  .columns-block__grid {
    grid-template-columns: repeat(2, 1fr);

    @include media(992.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.columns-block-contact {
  // .columns-block__grid
  .columns-block__grid {
    @include media(992.98, "max") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(576.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .columns-block__col
  .columns-block__col {
    &:last-of-type {
      @include media(992.98, "max") {
        grid-area: 2 / 1 / 3 / 3;
      }

      @include media(576.98, "max") {
        grid-area: initial;
      }
    }
  }

  // .columns-block__list
  .columns-block__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 0 2rem 0;
  }

  // .columns-block__item
  .columns-block__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;

    &::before {
      content: "";
      position: relative;
      top: initial;
      left: initial;
      background-image: url("../assets/images/icons/tick.svg");
      background-repeat: no-repeat;
      width: 2rem;
      height: 2rem;
    }
  }

  // .columns-block__address
  .columns-block__address {
    @include paragraph;
    margin-bottom: 2rem;

    @include media(576.98, "max") {
    }
  }

  // .columns-block__contacts
  .columns-block__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    @include media(576.98, "max") {
      margin-bottom: 3rem;
    }
  }

  // .columns-block__contacts-item
  .columns-block__contacts-item {
    padding: 1rem 0;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: 1rem;

    &:first-of-type {
      padding: 0 0 1rem;
    }

    &:last-of-type {
      padding: 1rem 0 0;
      border-bottom: none;
    }
  }

  // .columns-block__contacts-label
  .columns-block__contacts-label {
    @include paragraph;
    color: $sand-dark;
  }

  // .columns-block__contacts-value
  .columns-block__contacts-value {
    @include paragraph;

    a {
      color: $blue;
    }
  }
}

.columns-block-services {
  // .columns-block__item
  .columns-block__item {
    &::before {
      background-image: url("../assets/images/icons/tick-blue.svg");
      background-size: cover;
      background-position: center;
    }
  }
}
