@use "../utils/utils" as *;
@use "../components/components" as *;

.quiz {
  margin-top: 8rem;
  margin-bottom: 8rem;

  @include media(992.98, "max") {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  // .quiz__wrapper
  &__wrapper {
    background: $sand;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    overflow: hidden;
    position: relative;

    @include media(992.98, "max") {
      flex-direction: column;
    }
  }

  // .quiz__intro
  &__intro {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 6rem;
    display: flex;
    flex-direction: column;

    @include media(1024.98, "max") {
      padding: 4rem;
    }

    @include media(992.98, "max") {
      padding: 6rem;
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include media(768.98, "max") {
      padding: 4rem;
    }

    @include media(576.98, "max") {
      padding: 2rem;
    }
  }

  // .quiz__title
  &__title {
    @include h1;
    margin-bottom: 3rem;

    @include media(576.98, "max") {
      @include h1-mob;
      margin-bottom: 1rem;
      max-width: 27rem;
      width: 100%;
    }
  }

  // .quiz__subtitle
  &__subtitle {
    @include paragraph;
    margin-bottom: 3rem;

    @include media(576.98, "max") {
      margin-bottom: 0;
    }
  }

  // .quiz__image
  &__image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;

    @include media(576.98, "max") {
      position: absolute;
      right: -1rem;
      width: 8rem;
      height: 8rem;
    }

    @include media(420.98, "max") {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .quiz__form
  &__form {
    flex: 0 0 60%;
    max-width: 60%;
    background: $white;
    padding: 6rem;
    border-radius: 1rem;

    @include media(1024.98, "max") {
      padding: 4rem;
    }

    @include media(992.98, "max") {
      padding: 6rem;
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include media(768.98, "max") {
      padding: 4rem;
    }

    @include media(576.98, "max") {
      padding: 2rem;
    }
  }

  // .quiz__step
  &__step {
  }

  // .quiz__step-header
  &__step-header {
    margin-bottom: 4rem;

    @include media(576.98, "max") {
      margin-bottom: 3rem;
    }
  }

  // .quiz__progress
  &__progress {
  }

  // .quiz__progress-step
  &__progress-step {
    @include small;
    margin-bottom: 1rem;
  }

  // .quiz__progress-bar
  &__progress-bar {
    background: $sand;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 1rem;
  }

  // .quiz__progress-fill
  &__progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $green;
  }

  // .quiz__step-title
  &__step-title {
    @include h3;

    @include media(576.98, "max") {
      @include h2-mob;
    }
  }

  // .quiz__options
  &__options {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
  }

  // .quiz__option-input
  &__option-input {
    display: none;

    &:checked ~ .quiz__option {
      background: $light-blue;
      border: 2px solid $blue;

      .quiz__option-checkmark {
        opacity: 1;
      }
    }
  }

  // .quiz__option
  &__option {
    display: block;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    border: 2px solid $light-gray;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    @include device-pointer() {
      &:hover {
        border: 2px solid rgba(39, 170, 225, 0.5);
        background: rgba(186, 235, 255, 0.5);
      }
    }
  }

  // .quiz__option-text
  &__option-text {
    @include paragraph;
    position: relative;
  }

  // .quiz__option-checkmark
  &__option-checkmark {
    opacity: 0;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }

  // .quiz__navigation
  &__navigation {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
  }

  // .quiz__button
  &__button {
    &.button--blue,
    &.button--green {
      width: 100%;
      height: 5rem;
    }
  }

  // .quiz__button--submit
  &__button--submit {
  }

  // .quiz__button--back
  &__button--back {
  }

  // .quiz__form-textarea
  &__form-textarea {
    resize: none;
    width: 100%;
    background: rgba(247, 244, 238, 0.5);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) inset;
    @include paragraph;
    padding: 2rem;
    border-radius: 0.8rem;
    min-height: 14rem;

    &::placeholder {
      @include paragraph;
      color: $sand-dark;
    }
  }

  // .quiz__form-fields
  &__form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;

    @include media(768.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .quiz__form-field
  &__form-field {
    width: 100%;
    position: relative;

    &:last-child {
      grid-area: 3 / 1 / 4 / 3;

      @include media(768.98, "max") {
        grid-area: initial;
      }
    }
  }
  // .quiz__form-input
  &__form-input {
    @include paragraph;
    width: 100%;
    padding: 1.7rem 2rem;
    background: rgba(247, 244, 238, 0.5);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2) inset;
    @include paragraph;
    border-radius: 0.8rem;

    &:focus {
      padding: 2.7rem 2rem 0.7rem;
    }

    &:focus + .quiz__form-label,
    &:not(:placeholder-shown) + .quiz__form-label {
      top: 0.8rem;
      transform: translateY(0);
    }

    &.is-invalid {
      background: #ffe4ea;
      color: #da0936;
    }

    &:not(:placeholder-shown) {
      padding: 2.7rem 2rem 0.7rem;
    }
  }

  // .quiz__form-label
  &__form-label {
    @include small;
    color: $sand-dark;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    pointer-events: none;
  }

  // .quiz__done
  &__done {
  }

  // .quiz__done-header
  &__done-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
  }

  // .quiz__done-icon
  &__done-icon {
    width: 6rem;
    height: 6rem;
  }

  // .quiz__done-title
  &__done-title {
    @include h2;
  }

  // .quiz__done-message
  &__done-message {
    @include paragraph;
  }

  // .quiz__error
  &__error {
    background: #ffe4ea;
    color: #da0936;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    @include paragraph;
    margin-bottom: 2rem;
    margin-top: 4rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
