@use "../../utils/utils" as *;
@use "../../components/components" as *;

.third-party-financing {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .third-party-financing__wrapper
  &__wrapper {
    border-radius: 2rem;
    padding: 4rem;
    background: $sand;

    @include media(576.98, "max") {
      padding: 4rem 2rem;
    }
  }

  // .third-party-financing__title
  &__title {
    @include h1;
    margin-bottom: 3rem;
    text-align: center;

    @include media(992.98, "max") {
      @include h1-mob;
    }
  }

  // .third-party-financing__text
  &__text {
    @include paragraph;
    text-align: center;
    max-width: 67rem;
    width: 100%;
    margin: 0 auto 3rem;

    @include media(992.98, "max") {
      max-width: 100%;
    }
  }

  // .third-party-financing__benefits
  &__benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;

    @include media(576.98, "max") {
      flex-direction: column;
        align-items: flex-start;
    }
  }

  // .third-party-financing__benefit
  &__benefit {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  // .third-party-financing__benefit-icon
  &__benefit-icon {
    max-width: 4rem;
    width: 100%;
    height: 4rem;
  }

  // .third-party-financing__benefit-text
  &__benefit-text {
    @include h3;
  }

  // .third-party-financing__note
  &__note {
    @include small;
    color: $sand-dark;
    text-align: center;
  }
}
