@use "../../utils/utils" as *;
@use "../../components/components" as *;

.office-visits-gallery {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .office-visits-gallery__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include media(992.98, "max") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(576.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .office-visits-gallery__image
  &__image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
