<section class="office-visits-gallery">
    <div class="container">
        <div class="office-visits-gallery__wrapper">
            <div class="office-visits-gallery__image">
                <img src="../../assets/images/office-visits/office-visits-gallery/office-visits-1.png" alt="">
            </div>
            <div class="office-visits-gallery__image">
                <img src="../../assets/images/office-visits/office-visits-gallery/office-visits-2.png" alt="">
            </div>
            <div class="office-visits-gallery__image">
                <img src="../../assets/images/office-visits/office-visits-gallery/office-visits-3.png" alt="">
            </div>
            <div class="office-visits-gallery__image">
                <img src="../../assets/images/office-visits/office-visits-gallery/office-visits-4.png" alt="">
            </div>
            <div class="office-visits-gallery__image">
                <img src="../../assets/images/office-visits/office-visits-gallery/office-visits-5.png" alt="">
            </div>
            <div class="office-visits-gallery__image">
                <img src="../../assets/images/office-visits/office-visits-gallery/office-visits-6.png" alt="">
            </div>
        </div>
    </div>
</section>
