<div class="mobile-nav" id="mobileNav">
    <div class="mobile-nav__overlay" data-mobile-menu-close></div>
    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__content mobile-nav__content--main">
            <div class="mobile-nav__header">
                <button class="mobile-nav__close" data-mobile-menu-close>
                    <span class="mobile-nav__close-text">Close</span>
                    <img src="../../assets/images/icons/close.svg" class="mobile-nav__close-icon" alt="Close">
                </button>
            </div>
            <div class="mobile-nav__menu mobile-nav__menu--main" id="mobileNavMain">
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item" data-submenu="submenu-1">
                        <span class="mobile-nav__link">Implants</span>
                        <img src="../../assets/images/icons/arrow-left.svg" class="mobile-nav__arrow" alt="Arrow">
                    </li>
                    <li class="mobile-nav__item" data-submenu="submenu-2">
                        <span class="mobile-nav__link">All on X</span>
                        <img src="../../assets/images/icons/arrow-left.svg" class="mobile-nav__arrow" alt="Arrow">
                    </li>
                    <li class="mobile-nav__item" data-submenu="submenu-3">
                        <span class="mobile-nav__link">New Patients</span>
                        <img src="../../assets/images/icons/arrow-left.svg" class="mobile-nav__arrow" alt="Arrow">
                    </li>
                    <li class="mobile-nav__item" data-submenu="submenu-4">
                        <span class="mobile-nav__link">Same-Day Services</span>
                        <img src="../../assets/images/icons/arrow-left.svg" class="mobile-nav__arrow" alt="Arrow">
                    </li>
                    <li class="mobile-nav__item" data-submenu="submenu-5">
                        <span class="mobile-nav__link">About Us</span>
                        <img src="../../assets/images/icons/arrow-left.svg" class="mobile-nav__arrow" alt="Arrow">
                    </li>
                    <li class="mobile-nav__item" data-submenu="submenu-6">
                        <a href="#" class="mobile-nav__link">Technology</a>
                        <img src="../../assets/images/icons/arrow-left.svg" class="mobile-nav__arrow" alt="Arrow">
                    </li>
                </ul>
                <div class="mobile-nav__secondary">
                    <a href="#" class="mobile-nav__secondary-link">Blog</a>
                    <a href="#" class="mobile-nav__secondary-link">Financial</a>
                    <a href="#" class="mobile-nav__secondary-link">Contact</a>
                </div>

                <button class="mobile-nav__book-btn button button--green" type="button">
                    <img src="../../assets/images/icons/time.svg" class="button-icon" alt="Book Now">
                    <span class="button-text">BOOK NOW</span>
                </button>

                <div class="mobile-nav__actions">
                    <a href="#" class="mobile-nav__action">
                        <img src="../../assets/images/icons/call.svg" class="mobile-nav__action-icon" alt="">
                        <span class="mobile-nav__action-text">Call Now</span>
                    </a>
                    <a href="#" class="mobile-nav__action">
                        <img src="../../assets/images/icons/directions.svg" class="mobile-nav__action-icon" alt="">
                        <span class="mobile-nav__action-text">Directions</span>
                    </a>
                </div>
                <span class="mobile-nav__address">425 Essex St, Millburn, NJ 07041</span>
            </div>
        </div>
        <div class="mobile-nav__content mobile-nav__content--submenu _isactive">

            <div class="mobile-nav__menu mobile-nav__menu--submenu _active" id="submenu-1">
                <div class="mobile-nav__header">
                    <button class="mobile-nav__back">Go to Main Menu</button>
                    <button class="mobile-nav__close" data-mobile-menu-close>
                        <span class="mobile-nav__close-text">Close</span>
                        <img src="../../assets/images/icons/close.svg" class="mobile-nav__close-icon" alt="Close">
                    </button>
                </div>
                <div class="mobile-nav__list-title">Implants</div>
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Implant-Supported Dentures</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Implant Services</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Mini Implants</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Robotic Dental Implants</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Bone Grafting</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">FAQ</a>
                    </li>
                </ul>
            </div>

            <div class="mobile-nav__menu mobile-nav__menu--submenu" id="submenu-2">
                <div class="mobile-nav__header">
                    <button class="mobile-nav__back">Go to Main Menu</button>
                    <button class="mobile-nav__close" data-mobile-menu-close>
                        <span class="mobile-nav__close-text">Close</span>
                        <img src="../../assets/images/icons/close.svg" class="mobile-nav__close-icon" alt="Close">
                    </button>
                </div>
                <div class="mobile-nav__list-title">All on X</div>
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Pricing</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Financial Options</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Patient Forms</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Referral Rewards</a>
                    </li>
                </ul>
            </div>

            <div class="mobile-nav__menu mobile-nav__menu--submenu" id="submenu-3">
                <div class="mobile-nav__header">
                    <button class="mobile-nav__back">Go to Main Menu</button>
                    <button class="mobile-nav__close" data-mobile-menu-close>
                        <span class="mobile-nav__close-text">Close</span>
                        <img src="../../assets/images/icons/close.svg" class="mobile-nav__close-icon" alt="Close">
                    </button>
                </div>
                <div class="mobile-nav__list-title">New Patients</div>
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Pricing</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Financial Options</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Patient Forms</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Referral Rewards</a>
                    </li>
                </ul>
            </div>

            <div class="mobile-nav__menu mobile-nav__menu--submenu" id="submenu-4">
                <div class="mobile-nav__header">
                    <button class="mobile-nav__back">Go to Main Menu</button>
                    <button class="mobile-nav__close" data-mobile-menu-close>
                        <span class="mobile-nav__close-text">Close</span>
                        <img src="../../assets/images/icons/close.svg" class="mobile-nav__close-icon" alt="Close">
                    </button>
                </div>
                <div class="mobile-nav__list-title">Same-Day Services</div>
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Root Canals</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Emergency Care</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Prevention</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Bridges</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Crowns</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Dentures</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Sedation</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Cosmetic</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Whitening</a>
                    </li>
                </ul>
            </div>

            <div class="mobile-nav__menu mobile-nav__menu--submenu" id="submenu-5">
                <div class="mobile-nav__header">
                    <button class="mobile-nav__back">Go to Main Menu</button>
                    <button class="mobile-nav__close" data-mobile-menu-close>
                        <span class="mobile-nav__close-text">Close</span>
                        <img src="../../assets/images/icons/close.svg" class="mobile-nav__close-icon" alt="Close">
                    </button>
                </div>
                <div class="mobile-nav__list-title">About Us</div>
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">What Sets Us Apart</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Dr. Arthur Greyf</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Meet The Team</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Testimonials</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Office Visits</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="mobile-nav__menu mobile-nav__menu--submenu" id="submenu-6">
                <div class="mobile-nav__header">
                    <button class="mobile-nav__back">Go to Main Menu</button>
                    <button class="mobile-nav__close" data-mobile-menu-close>
                        <span class="mobile-nav__close-text">Close</span>
                        <img src="../../assets/images/icons/close.svg" class="mobile-nav__close-icon" alt="Close">
                    </button>
                </div>
                <div class="mobile-nav__list-title">Technology</div>
                <ul class="mobile-nav__list">
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">CEREC®</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Full-Mouth Reconstruction</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Planmeca Digital Dentistry</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Laser Dentistry</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">Robot-Assisted Implants</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a href="#" class="mobile-nav__link">KaVo Digital CT Imaging</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
