@font-face {
    font-family: 'PT Serif';
    src: url('PTSerif-Regular.woff2') format('woff2'),
        url('PTSerif-Regular.woff') format('woff'),
        url('PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('PTSerif-Italic.woff2') format('woff2'),
        url('PTSerif-Italic.woff') format('woff'),
        url('PTSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

