@use "../../utils/utils" as *;
@use "../../components/components" as *;

.our-services {
  margin-bottom: 8rem;
  overflow: hidden;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .our-services__title
  &__title {
    @include h1;
    margin-bottom: 6rem;
    text-align: center;

    @include media(992.98, "max") {
      @include h1-mob;
    }
  }

  // .our-services__wrapper
  &__wrapper {
  }

  // .our-services__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include media(992.98, "max") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(576.98, "max") {
      display: none;
    }
  }

  // .our-services__card
  &__card {
    border-radius: 2rem;
    padding: 4rem;
    background: $light-blue;
    min-height: 34rem;

    @include media(992.98, "max") {
      padding: 3rem;
      min-height: 32rem;
    }

    @include media(576.98, "max") {
      box-sizing: border-box;
      min-height: initial;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  // .our-services__card-icon
  &__card-icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
  }

  // .our-services__card-title
  &__card-title {
    @include h3;
    margin-bottom: 1rem;

    @include media(576.98, "max") {
      margin-bottom: 2rem;
    }
  }

  // .our-services__card-text
  &__card-text {
    @include small;
    margin-bottom: 2rem;
  }

  // .our-services__card-button
  &__card-button {
    @include media(576.98, "max") {
      box-sizing: border-box;
      width: max-content;
    }
  }

  // .our-services__slider
  &__slider {
    display: none;

    @include media(576.98, "max") {
      display: block;
    }
  }

  // .our-services__swiper
  &__swiper {
    @include media(576.98, "max") {
      overflow: visible !important;
    }
  }

  // .our-services__swiper-wrapper
  &__swiper-wrapper {
  }

  // .our-services__swiper-slide
  &__swiper-slide {
    height: auto !important;
    @include media(576.98, "max") {
    }
  }
}
