@use "../../utils/utils" as *;
@use "../../components/components" as *;

.partners {
  margin-bottom: 8rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .partners__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    @include media(992.98, "max") {
      width: calc(100% - 13.2rem);
      margin: 0 auto;
      gap: 2rem;
    }

    @include media(576.98, "max") {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  // .partners__img
  &__img {
    @include media(576.98, "max") {
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      @include media(576.98, "max") {
        max-height: 100%;
        width: auto;
        object-fit: contain;
      }
    }
  }
}
