@use "../../utils/utils" as *;
@use "../../components/components" as *;

.promo {
  margin-bottom: 8rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  .container {
    @include media(576.98, "max") {
      padding: 0;
    }
  }

  // .promo__wrapper
  &__wrapper {
    padding: 2rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    @include media(992.98, "max") {
      flex-direction: column;
      gap: 4rem;
    }

    @include media(576.98, "max") {
      gap: 0;
    }
  }

  // .promo__content
  &__content {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 57.72%;
    max-width: 57.72%;

    @include media(992.98, "max") {
      flex: 1 1 auto;
      max-width: 100%;
      width: 100%;
      padding: 0;
      z-index: 2;
      position: relative;
    }

    @include media(576.98, "max") {
      padding: 0 2rem;
    }
  }

  // .promo__title
  &__title {
    @include h1-main;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &-highlight {
      color: $blue;
    }

    @include media(992.98, "max") {
      flex-direction: row;
      @include h1-mob;
      margin-bottom: 2rem;
    }

    @include media(576.98, "max") {
      flex-direction: column;
    }
  }

  // .promo__subtitle
  &__subtitle {
    @include h2;
    margin-bottom: 3rem;
    white-space: nowrap;

    @include media(1280.98, "max") {
      @include h2-mob;
      margin-bottom: 2.6rem;
    }

    @include media(576.98, "max") {
      white-space: wrap;
      text-align: center;
      max-width: 39rem;
      width: 100%;
    }

    @include media(360.98, "max") {
      font-size: 1.9rem;
    }

    &-highlight {
      color: $blue;
    }
  }

  // .promo__team
  &__team {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    @include media(1280.98, "max") {
      display: none;
    }
  }

  // .promo__team-photo
  &__team-photo {
    width: 4rem;
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: -0.5rem;
    }
  }

  // .promo__buttons
  &__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;

    .button--light-blue {
      @include media(576.98, "max") {
        display: none;
      }
    }
  }

  // .promo__button
  &__button {
  }

  // .promo__image
  &__image {
    width: 100%;
    position: relative;
    flex: 0 0 40.81%;
    max-width: 40.81%;

    @include media(992.98, "max") {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
    }

    @include media(576.98, "max") {
      margin: -3rem auto 0;
      width: calc(100% + 4rem);
      z-index: 1;
    }
  }

  // .promo__image-pic
  &__image-pic {
    position: relative;
    width: 100%;
    min-height: 52rem;
    border-radius: 2rem;
    overflow: hidden;

    @include media(992.98, "max") {
      min-height: 30rem;
    }

    @include media(576.98, "max") {
      border-radius: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.3);

      @include media(1280.98, "max") {
        object-position: 18%;
      }

      @include media(992.98, "max") {
        top: 50%;
        left: 60%;
      }

      @include media(576.98, "max") {
        top: 70%;
      }
    }
  }

  // .promo__badge
  &__badge {
    position: absolute;
    left: -4rem;
    bottom: -2rem;
    width: 13.4rem;
    z-index: 1;

    @include media(992.98, "max") {
      left: 3rem;
      bottom: -1rem;
    }
    @include media(576.98, "max") {
      width: 11rem;
      left: 2rem;
    }
  }

  // .promo__video
  &__video {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 1.6rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 7rem;
    cursor: pointer;

    @include media(576.98, "max") {
      bottom: 2rem;
      right: 2rem;
    }
  }

  // .promo__video-play
  &__video-play {
    width: 1.7rem;
  }

  // .promo__video-text
  &__video-text {
    @include small-caps;
    color: $white;

    @include media(360.98, "max") {
      display: none;
    }
  }
}
