@use "../../utils/utils" as *;
@use "../../components/components" as *;

.stats-card {
  margin-bottom: 8rem;
  overflow: hidden;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .stats-card__slides
  &__slides {
  }

  // .swiper
  .swiper {
    height: 14rem;
    @include media(992.98, "max") {
      height: 21rem;
    }
    @include media(768.98, "max") {
      height: 100%;
      overflow: visible;
    }

    .swiper-slide {
      height: auto;


      &:nth-child(3) {
        display: none;
      }

      @include media(768.98, "max") {
        &:nth-child(5) {
          display: none;
        }

        &:nth-child(3) {
          display: block;
        }
      }
    }
  }

  // .stats-card__item
  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: $sand;
    border-radius: 2rem;
    padding: 3rem;
    height: 100%;

    @include media(768.98, "max") {
      padding: 2rem;
    }
  }

  // .stats-card__label
  &__label {
    @include h2;

    @include media(992.98, "max") {
      @include h3;
    }
  }

  // .stats-card__value
  &__value {
    @include media(992.98, "max") {
      @include small;
    }
  }

  // .stats-card__rating
  &__rating {
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
  }

  // .stats-card__icon
  &__icon {
    width: 2rem;
  }

  // .stats-card__reviews
  &__reviews {
    @include small;
  }
}
