@use "../../utils/utils" as *;
@use "../../components/components" as *;

.testimonials {
  margin-bottom: 8rem;
  overflow: hidden;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .testimonials__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  // .testimonials__gallery
  &__gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    width: 136rem;

    @include media(576.98, "max") {
      width: 44.8rem;
      gap: 0.6rem;
    }
  }

  // .testimonials__item
  &__item {
    border-radius: 2rem;

    @include media(576.98, "max") {
      border-radius: 0.6rem;
    }

    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
      margin-top: 12rem;
      @include media(576.98, "max") {
        margin-top: 4rem;
      }
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
    }
    &:nth-child(3) {
      grid-area: 1 / 2 / 2 / 3;
      margin-top: 6rem;

      @include media(576.98, "max") {
        margin-top: 2rem;
      }
    }
    &:nth-child(4) {
      grid-area: 2 / 2 / 3 / 3;
      margin-top: -6rem;
      @include media(576.98, "max") {
        margin-top: -2rem;
      }
    }
    &:nth-child(5) {
      grid-area: 1 / 3 / 2 / 4;
      margin-top: 12rem;

      @include media(576.98, "max") {
        margin-top: 4rem;
      }
    }
    &:nth-child(6) {
      grid-area: 1 / 4 / 2 / 5;
      margin-top: 6rem;
      @include media(576.98, "max") {
        margin-top: 2rem;
      }
    }
    &:nth-child(7) {
      grid-area: 1 / 5 / 2 / 6;
    }
    &:nth-child(8) {
      grid-area: 1 / 6 / 2 / 7;
      margin-top: 12rem;

      @include media(576.98, "max") {
        margin-top: 4rem;
      }
    }
    &:nth-child(9) {
      grid-area: 1 / 7 / 2 / 8;
      margin-top: 6rem;

      @include media(576.98, "max") {
        margin-top: 2rem;
      }
    }
    &:nth-child(10) {
      grid-area: 2 / 7 / 3 / 8;
      margin-top: -6rem;

      @include media(576.98, "max") {
        margin-top: -2rem;
      }
    }
    &:nth-child(11) {
      grid-area: 1 / 8 / 2 / 9;
      margin-top: 12rem;

      @include media(576.98, "max") {
        margin-top: 4rem;
      }
    }
    &:nth-child(12) {
      grid-area: 2 / 8 / 3 / 9;
    }
  }

  // .testimonials__image
  &__image {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    object-fit: cover;

    @include media(576.98, "max") {
      border-radius: 0.6rem;
    }
  }

  // .testimonials__content
  &__content {
    max-width: 44rem;
    width: 100%;
    margin: -26rem auto 0;

    @include media(576.98, "max") {
      max-width: 100%;
      margin: -9.2rem auto 0;
    }
  }

  // .testimonials__title
  &__title {
    @include h1;
    margin-bottom: 2rem;
    text-align: center;

    @include media(576.98, "max") {
      max-width: 21.2rem;
      width: 100%;
      margin: 0 auto 2rem;
      @include h1-mob;
    }
  }

  // .testimonials__text
  &__text {
    @include h3;
    margin-bottom: 2rem;
    text-align: center;
  }

  // .testimonials__button
  &__button {
    margin: 0 auto;
  }
}
