<section class="advantages">
    <div class="container">
        <div class="advantages__wrapper">
            <div class="advantages__item">
                <span class="advantages__icon">
                    <img src="../../assets/images/icons/check.svg" alt="">
                </span>
                <p class="advantages__text">Advanced robotic implant technology</p>
            </div>
            <div class="advantages__item">
                <span class="advantages__icon">
                    <img src="../../assets/images/icons/check.svg" alt="">
                </span>
                <p class="advantages__text">Personalized patient care</p>
            </div>
            <div class="advantages__item">
                <span class="advantages__icon">
                    <img src="../../assets/images/icons/check.svg" alt="">
                </span>
                <p class="advantages__text">Same-day restorations</p>
            </div>
            <div class="advantages__item">
                <span class="advantages__icon">
                    <img src="../../assets/images/icons/check.svg" alt="">
                </span>
                <p class="advantages__text">Multilingual team</p>
            </div>
            <div class="advantages__item">
                <span class="advantages__icon">
                    <img src="../../assets/images/icons/check.svg" alt="">
                </span>
                <p class="advantages__text">Superior All-on-X denture solutions</p>
            </div>
        </div>
    </div>
</section>
