<section class="difference">
    <div class="container">
        <div class="difference__wrapper">
            <div class="difference__content">
                <h1 class="difference__title">What Sets Us Apart</h1>
                <h2 class="difference__content-title">Commitment to Excellence in Every Smile</h2>
                <p class="difference__content-text">
                    We believe our patients deserve the highest quality dental care, with quick, comfortable,
                    and predictable results. That’s why we consistently incorporate cutting-edge technology into
                    every procedure, ensuring the best possible outcomes. Our commitment to innovation is central
                    to how we deliver excellent care.
                </p>
                <p class="difference__content-text">
                    We also believe continuous education in dental techniques and technologies is essential to
                    remain at the forefront. Our focus on innovation helps provide modern treatments while
                    prioritizing patient satisfaction and well-being.
                </p>
            </div>
            <div class="difference__video">
                <img src="../../assets/images/what-sets-us-apart/difference/difference-poster.png"
                    alt="Dentist at work">
                <button class="difference__play">
                    <img src="../../assets/images/icons/play-red.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</section>
