@use "../../utils/utils" as *;
@use "../../components/components" as *;

.vip-package {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .vip-package__wrapper
  &__wrapper {
    border-radius: 2rem;
    padding: 6rem;
    background: $sand;

    @include media(992.98, "max") {
      padding: 6rem 2rem;
    }
  }

  // .vip-package__header
  &__header {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  // .vip-package__header-top
  &__header-top {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    @include media(768.98, "max") {
      flex-wrap: wrap;
    }
  }

  // .vip-package__title
  &__title {
    @include h1;
    text-align: center;

    @include media(992.98, "max") {
      @include h1-mob;
    }
  }

  // .vip-package__badge-wrapper
  &__badge-wrapper {
    background: $black;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include media(992.98, "max") {
      padding: 0.7rem 1.1rem;
      border-radius: 0.7rem;
      gap: 0.7rem;
    }
  }

  // .vip-package__badge-icon
  &__badge-icon {
    max-width: 2.4rem;
    width: 100%;
    height: 2.4rem;
    @include media(992.98, "max") {
      max-width: 1.8rem;
      height: 1.8rem;
    }
  }

  // .vip-package__badge
  &__badge {
    @include inter-regular;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4ce66;

    @include media(992.98, "max") {
      font-size: 1.8rem;
    }
  }

  // .vip-package__subtitle
  &__subtitle {
    @include h3;
    max-width: 67rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @include media(992.98, "max") {
      max-width: 100%;
    }
  }

  // .vip-package__benefits-list
  &__benefits-list {
    padding-top: 4rem;
    margin-bottom: 4rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @include media(992.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // .vip-package__benefit
  &__benefit {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    @include media(992.98, "max") {
      flex-direction: column;
    }
  }

  // .vip-package__benefit-icon
  &__benefit-icon {
    max-width: 5rem;
    width: 100%;
    height: 5rem;
  }

  // .vip-package__benefit-text
  &__benefit-text {
    @include paragraph;
  }

  // .vip-package__cta
  &__cta {
    background: $white;
    border-radius: 1rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 4rem;

    @include media(992.98, "max") {
      flex-direction: column;
      padding: 3rem;
      gap: 2rem;
    }
  }

  // .vip-package__cta-text
  &__cta-text {
    @include paragraph;
    text-align: center;
  }

  // .vip-package__cta-button
  &__cta-button {
    width: max-content;

    @include media(576.98, "max") {
      width: 100%;
    }
  }

  // .vip-package__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-bottom: 4rem;

    @include media(992.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .vip-package__col
  &__col {
  }

  // .vip-package__col-title
  &__col-title {
    @include h2;
    margin-bottom: 2rem;
  }

  // .vip-package__col-text
  &__col-text {
    @include paragraph;
  }

  // .vip-package__col-list
  &__col-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  // .vip-package__col-item
  &__col-item {
    position: relative;
    @include paragraph;
    padding: 1rem 0 1rem 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      position: absolute;
      top: 1.2rem;
      left: 0;
      background-image: url("../assets/images/icons/tick.svg");
      background-repeat: no-repeat;
      width: 2rem;
      height: 2rem;
    }
  }

  // .vip-package__included
  &__included {
  }

  // .vip-package__included-title
  &__included-title {
    @include inter-semiBold;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.62;
    margin-bottom: 1rem;
  }

  // .vip-package__included-list
  &__included-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: disc;
    margin-left: 2rem;
  }

  // .vip-package__included-item
  &__included-item {
    @include small;
  }

  // .vip-package__amenities
  &__amenities {
    padding-top: 4rem;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // .vip-package__amenities-title
  &__amenities-title {
    @include h2;
    margin-bottom: 2rem;
  }

  // .vip-package__amenities-list
  &__amenities-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;

    @include media(768.98, "max") {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }

  // .vip-package__amenities-item
  &__amenities-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // .vip-package__amenities-icon
  &__amenities-icon {
    max-width: 3.6rem;
    width: 100%;
    height: 3.6rem;
  }

  // .vip-package__amenities-text
  &__amenities-text {
    @include paragraph;
  }
}
