@use "../../utils/utils" as *;
@use "../../components/components" as *;

.testimonials-video {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .testimonials-video__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  // .testimonials-video__video
  &__video {
    width: 100%;
    max-height: 74.8rem;
    position: relative;
  }

  // .testimonials-video__play
  &__play {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    img {
      width: 6rem;
      height: 4.2rem;
    }
  }
}
