@use "../../utils/utils" as *;
@use "../../components/components" as *;

.testimonials-reviews {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .testimonials-reviews__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem 2rem;

    @include media(992.98, "max") {
      gap: 4rem 2rem;
    }

    @include media(576.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .testimonials-reviews__col
  &__col {
  }

  // .testimonials-reviews__rating
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  // .testimonials-reviews__rating-icon
  &__rating-icon {
    max-width: 2.6rem;
    width: 100%;
    height: 2.6rem;
  }

  // .testimonials-reviews__text
  &__text {
    @include paragraph;
    margin-bottom: 2rem;
  }

  // .testimonials-reviews__name
  &__name {
    @include small;
    color: #999999;
  }
}
