<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="../../assets/files/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../assets/files/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../../assets/files/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/files/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="WebSite" />
    <link rel="manifest" href="../../assets/files/favicon/site.webmanifest" />
    <title>CEREC</title>
</head>

<body class="cerec-page">
    <include src="layout/header.html"></include>
    <main>
        <extends src="layout/submenu.html">
            <block name="title">Technology</block>
            <block name="links">
                <li class="submenu__item _active">
                    <a href="#" class="submenu__link">CEREC®</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">Full-Mouth Reconstruction</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">Planmeca Digital Dentistry</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">Laser Dentistry</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">Robot-Assisted Implants</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">KaVo Digital CT Imaging</a>
                </li>
            </block>
        </extends>
        <include src="blocks/hero.html"></include>
        <include src="blocks/columns-block-second.html"></include>
        <h1 class="cerec-page__title">Why Choose CEREC?</h1>
        <include src="blocks/columns-block.html"></include>
    </main>
    <include src="layout/footer.html"></include>

</body>

</html>
