<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="../../assets/files/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="../../assets/files/favicon/favicon.svg" />
  <link rel="shortcut icon" href="../../assets/files/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/files/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="WebSite" />
  <link rel="manifest" href="../../assets/files/favicon/site.webmanifest" />
  <title>Arthur Greyf Home</title>
</head>

<body>
  <include src="layout/header.html"></include>
  <main>
    <include src="blocks/home/promo.html"></include>
    <include src="blocks/stats-card.html"></include>
    <include src="blocks/home/dental-showcase.html"></include>
    <include src="blocks/home/about-founder.html"></include>
    <include src="blocks/home/partners.html"></include>
    <include src="blocks/home/our-services.html"></include>
    <include src="blocks/home/testimonials.html"></include>
    <include src="blocks/pricing.html"></include>
    <include src="blocks/home/why-choose-us.html"></include>
    <include src="blocks/banner.html"></include>
    <include src="blocks/faq.html"></include>
  </main>
  <include src="layout/cta-bar.html"></include>
  <include src="layout/footer.html"></include>

</body>

</html>
