<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="../../assets/files/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../../assets/files/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../../assets/files/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/files/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="WebSite" />
    <link rel="manifest" href="../../assets/files/favicon/site.webmanifest" />
    <title>Testimonials</title>
</head>

<body class="testimonials-page">
    <include src="layout/header.html"></include>
    <main>
        <extends src="layout/submenu.html">
            <block name="title">About Us</block>
            <block name="links">
                <li class="submenu__item">
                    <a href="#" class="submenu__link">What Sets Us Apart</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">Dr. Arthur Greyf</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">Meet The Team</a>
                </li>
                <li class="submenu__item _active">
                    <a href="#" class="submenu__link">Testimonials</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">Office Visits</a>
                </li>
                <li class="submenu__item">
                    <a href="#" class="submenu__link">Contact Us</a>
                </li>
            </block>
        </extends>
        <div class="info-section">
            <div class="container">
                <div class="info-section__wrapper">
                    <div class="info-section__content">
                        <h1 class="info-section__title">Testimonials</h1>
                        <p class="info-section__description">If you’d like to share some kind words and smiles, please ask our front desk staff about writing a Google review to receive a $25 credit towards your next appointment. We’d love to hear about your experience!</p>
                    </div>
                </div>
            </div>
        </div>
        <include src="blocks/testimonials/testimonials-video.html"></include>
        <include src="blocks/testimonials/testimonials-reviews.html"></include>
    </main>
    <include src="layout/footer.html"></include>

</body>

</html>
