@use "../blocks/home/promo.scss";
@use "../blocks/home/stats-card.scss";
@use "../blocks/home/dental-showcase.scss";
@use "../blocks/home/about-founder.scss";
@use "../blocks/home/partners.scss";
@use "../blocks/home/our-services.scss";
@use "../blocks/home/testimonials.scss";
@use "../blocks/home/pricing.scss";
@use "../blocks/home/why-choose-us.scss";
@use "../blocks/banner.scss";
@use "../blocks/faq.scss";
