@use "../../utils/utils" as *;
@use "../../components/components" as *;

.about-doctor {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .about-doctor__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 2rem;

    @include media(992.98, "max") {
      grid-template-columns: repeat(1, 1fr);
      gap: 4rem;
    }
  }

  // .about-doctor__col
  &__col {
  }

  // .about-doctor__title
  &__title {
    @include h2;
    margin-bottom: 2rem;
  }

  // .about-doctor__text
  &__text {
    @include paragraph;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // .about-doctor__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 3rem;
    margin-top: 2rem;
  }

  // .about-doctor__item
  &__item {
    position: relative;
    @include paragraph;

    &::before {
      content: "";
      position: absolute;
      top: 0.4rem;
      left: -3rem;
      background-image: url("../assets/images/icons/tick.svg");
      background-repeat: no-repeat;
      width: 2rem;
      height: 2rem;
    }
  }
}
