@use "../../utils/utils" as *;
@use "../../components/components" as *;

.doctors-certificate {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .doctors-certificate__wrapper
  &__wrapper {
    width: calc(100% - 14rem);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    @include media(1280.98, "max") {
      gap: 4.8rem;
      width: calc(100% - 10rem);
    }

    @include media(992.98, "max") {
      width: 100%;
      gap: 3rem;
    }
  }

  // .doctors-certificate__image
  &__image {
    flex: 1 1 25rem;
    max-width: 30rem;
    min-width: 15rem;
    border: 1rem solid $black;
    box-sizing: content-box;

    @include media(1190.98, "max") {
      flex: 1 1 20rem;
    }

    @include media(1280.98, "max") {
      border: 5px solid $black;
    }

    @include media(992.98, "max") {
      border: 5px solid $black;
    }

    @include media(768.98, "max") {
      flex: 1 1 15rem;
      max-width: 15rem;
      
    }

    @include media(490.98, "max") {
      flex: 1 1 13rem;
      max-width: 15rem;
      min-width: 13rem;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
