// Blue
$blue: #27aae1;
$medium-blue: #baebff;
$light-blue: #e5eff6;

// Green
$green: #02886b;
$light-green: #e6f3f0;
$focus-green: #028065;
$hover-green: #028468;

// Gray
$gray: #333333;
$dark-gray: #666666;
$medium-gray: #cccccc;
$light-gray: #eeeeee;
$sand-dark: #78756d;

// Yellow
$yellow: #f3de00;

// sand
$sand: #f7f4ee;

// Red
$red: #e85555;

// Black
$black: #000000;

// White
$white: #ffffff;
