<div class="reviews">
    <div class="container">
        <div class="reviews__wrapper">
            <h2 class="reviews__title">People who trusted us</h2>
            <div class="reviews__slide">
                <div class="swiper reviews__swiper">
                    <div class="swiper-wrapper reviews__swiper-wrapper">
                        <div class="swiper-slide reviews__swiper-slide">
                            <div class="reviews__item">
                                <div class="reviews__avatar">
                                    <img src="../../assets/images/implant-supported-dentures/reviews/reviews-1.png"
                                        alt="">
                                </div>
                                <div class="reviews__rating">
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                </div>
                                <p class="reviews__text">It is always a pleasure going to Dr. Greyf's dental practice.
                                    From the
                                    staff to the service, absolutely amazing! The staff are always welcoming, and they
                                    are flexible
                                    when it comes to scheduling my appointments. And my dental hygienist is the best!
                                    She is soo
                                    thorough and knowledgeable. It just makes my experience coming to the dentist
                                    wonderful.</p>
                                <span class="reviews__author">Pilar F.</span>
                            </div>
                        </div>
                        <div class="swiper-slide reviews__swiper-slide">
                            <div class="reviews__item">
                                <div class="reviews__avatar">
                                    <img src="../../assets/images/implant-supported-dentures/reviews/reviews-2.png"
                                        alt="">
                                </div>
                                <div class="reviews__rating">
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                </div>
                                <p class="reviews__text">I had been looking for a good dentist for 15 years in Staten
                                    Island and
                                    found this office in NJ. Now I am seeing Dr. Greyf and Dr. Desai since May 2021 and
                                    everybody is
                                    nice and responsive. The doctor addressed the issue right away and put in place an
                                    affordable
                                    treatment plan. His bedside manner is great! They are knowledgeable and can take
                                    care of my
                                    entire family, including my 12-year-old son. After that, I referred a lot of my
                                    coworkers and
                                    friends. They are also happy with the dental care they are getting. I am happy now!
                                </p>
                                <span class="reviews__author">Michael S.</span>
                            </div>
                        </div>
                        <div class="swiper-slide reviews__swiper-slide">
                            <div class="reviews__item">
                                <div class="reviews__avatar">
                                    <img src="../../assets/images/implant-supported-dentures/reviews/reviews-3.png"
                                        alt="">
                                </div>
                                <div class="reviews__rating">
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                </div>
                                <p class="reviews__text">Very professional and well-run practice. Staff and technicians
                                    are very
                                    competent and friendly and put you at ease during all phases of the visit. Dr. Greyf
                                    is highly
                                    knowledgeable, engaging, and proficient at his craft. He laid out a plan of action
                                    that
                                    accommodates my timeline and meets my needs.</p>
                                <span class="reviews__author">Ann E.</span>
                            </div>
                        </div>
                        <div class="swiper-slide reviews__swiper-slide">
                            <div class="reviews__item">
                                <div class="reviews__avatar">
                                    <img src="../../assets/images/implant-supported-dentures/reviews/reviews-4.png"
                                        alt="">
                                </div>
                                <div class="reviews__rating">
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                    <div class="reviews__rating-icon">
                                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                                    </div>
                                </div>
                                <p class="reviews__text">Went for a visit at Dr. Greyf DDS in Millburn NJ. Dr. Desai and
                                    the team
                                    make me feel appreciated, they are very professional. During my procedure she
                                    explained the
                                    process and stopped during the procedure to check and make sure I'm okay. Awesome
                                    service from
                                    the beginning to the end! The ladies at the front desk are very welcoming. Thanks
                                    for your
                                    assistance, team Greyf!</p>
                                <span class="reviews__author">Arlene F.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
