<div class="smile-freely">
    <div class="container">
        <div class="smile-freely__wrapper">
            <div class="smile-freely__image">
                <img src="../../assets/images/implant-supported-dentures/smile-freely/smile-freely-1.png"
                    alt="Dentist with dentures">
            </div>
            <div class="smile-freely__content">
                <h2 class="smile-freely__title">Speak, Eat, and Smile Freely</h2>
                <div class="smile-freely__list">
                    <div class="smile-freely__item">
                        <h3 class="smile-freely__label">Confidence in Social Situations</h3>
                        <p class="smile-freely__text">Patients who opt for implant-supported dentures are more confident
                            when they talk, laugh, and eat in public. You'll never have to worry about your false teeth
                            slipping or falling out while you eat or are engaged in conversation.</p>
                    </div>
                    <div class="smile-freely__item">
                        <h3 class="smile-freely__label">Superior Comfort and Gum Health</h3>
                        <p class="smile-freely__text">Implant-supported dentures are far more comfortable because they
                            are secure and feel like natural teeth. There is also less irritation of gum tissue;
                            patients who have conventional dentures often suffer pain and canker sores.</p>
                    </div>
                    <div class="smile-freely__item">
                        <h3 class="smile-freely__label">Natural Appearance and Bone Preservation</h3>
                            <p class="smile-freely__text">Implant-supported dentures look more natural than conventional
                                dentures because less plastic is needed for retention. Wearing implant-supported
                                dentures can also help your appearance in the long term by preventing jaw shrinkage and
                                bone loss.</p>
                    </div>
                    <div class="smile-freely__item">
                        <h3 class="smile-freely__label">Clear and Easy Speech</h3>
                        <p class="smile-freely__text">Patients with conventional dentures have difficulty with speaking
                            clearly. Slurred speech and clicking noises are common problems. Implant-supported dentures
                            can help you relax and talk easily with a more clear and natural voice.</p>
                    </div>
                    <div class="smile-freely__item">
                        <h3 class="smile-freely__label">No Adhesives or Removal Needed</h3>
                        <p class="smile-freely__text">Best of all, with implant-supported dentures, there is no need to
                            use denture adhesives or take them out to sleep.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
