<div class="financing-plan">
    <div class="container">
        <div class="financing-plan__wrapper">
            <div class="financing-plan__col">
                <h3 class="financing-plan__title">Participating PPO Plans</h3>
                <ul class="financing-plan__list">
                    <li class="financing-plan__item">Cigna</li>
                    <li class="financing-plan__item">Aetna</li>
                    <li class="financing-plan__item">Aetna Medicare Dental PPO</li>
                    <li class="financing-plan__item">Metlife</li>
                    <li class="financing-plan__item">Ameritas</li>
                </ul>
            </div>

            <div class="financing-plan__col financing-plan__col--double">
                <h3 class="financing-plan__title">Other PPO's we accept:</h3>
                <div class="financing-plan__lists">
                    <ul class="financing-plan__list">
                        <li class="financing-plan__item">Anthem BCBS</li>
                        <li class="financing-plan__item">Blue Cross Blue Shield</li>
                        <li class="financing-plan__item">Delta Dental</li>
                        <li class="financing-plan__item">Guardian PPO</li>
                        <li class="financing-plan__item">Horizon Dental Option</li>
                        <li class="financing-plan__item">Humana</li>
                    </ul>
                    <ul class="financing-plan__list">
                        <li class="financing-plan__item">Principal</li>
                        <li class="financing-plan__item">Sunlife</li>
                        <li class="financing-plan__item">United Concordia</li>
                        <li class="financing-plan__item">United Healthcare</li>
                    </ul>
                </div>
                <p class="financing-plan__text">And more</p>
            </div>
        </div>
    </div>
</div>
