<section class="vip-package">
    <div class="container">
        <div class="vip-package__wrapper">
            <div class="vip-package__header">
                <div class="vip-package__header-top">
                    <h2 class="vip-package__title">Same Day Smile</h2>
                    <div class="vip-package__badge-wrapper">
                        <img src="../../assets/images/pricing/vip-package/vip.svg" alt=""
                            class="vip-package__badge-icon">
                        <span class="vip-package__badge">VIP Package</span>
                    </div>
                </div>
                <p class="vip-package__subtitle">
                    Our Same Day Smile VIP Package uses advanced robotic technology for fast, precise, and comfortable
                    treatment.
                </p>
            </div>

            <ul class="vip-package__benefits-list">
                <li class="vip-package__benefit">
                    <img src="../../assets/images/pricing/vip-package/benefits-1.svg" alt=""
                        class="vip-package__benefit-icon">
                    <span class="vip-package__benefit-text">Quality full arch implants made affordable for everyone
                        seeking
                        a lasting
                        smile.</span>
                </li>
                <li class="vip-package__benefit">
                    <img src="../../assets/images/pricing/vip-package/benefits-2.svg" alt=""
                        class="vip-package__benefit-icon">
                    <span class="vip-package__benefit-text">Yomi robotic tech offers precise, less invasive, and more
                        comfortable
                        implant procedures.</span>
                </li>
                <li class="vip-package__benefit">
                    <img src="../../assets/images/pricing/vip-package/benefits-3.svg" alt=""
                        class="vip-package__benefit-icon">
                    <span class="vip-package__benefit-text">Our 110% You're Going to Love the Way You Smile Guarantee
                        ensures your
                        satisfaction.</span>
                </li>
                <li class="vip-package__benefit">
                    <img src="../../assets/images/pricing/vip-package/benefits-4.svg" alt=""
                        class="vip-package__benefit-icon">
                    <span class="vip-package__benefit-text">We deliver beautiful smiles with comfortable, seamless,
                        patient-focused
                        care.</span>
                </li>
            </ul>

            <div class="vip-package__cta">
                <p class="vip-package__cta-text">
                    Book your VIP Consultation session — get personalized care and expert advice
                </p>
                <a href="#" class="vip-package__cta-button button button--blue">
                    <span class="button-text">Book Now</span>
                </a>
            </div>

            <div class="vip-package__grid">
                <div class="vip-package__col">
                    <h3 class="vip-package__col-title">Free Consultation (90 min)</h3>
                    <p class="vip-package__col-text">Our Patient Advocate to welcome you and assist you throughout your
                        visit.</p>
                    <ul class="vip-package__col-list">
                        <li class="vip-package__col-item">All dental imaging, including x-rays and CT scan</li>
                        <li class="vip-package__col-item">In Depth Doctor Consultation</li>
                        <li class="vip-package__col-item">Comprehensive Treatment Plan</li>
                        <li class="vip-package__col-item">Private Financial Consultation with our specialist</li>
                    </ul>
                </div>

                <div class="vip-package__col">
                    <h3 class="vip-package__col-title">Treatment</h3>
                    <p class="vip-package__col-text">You’ll have a beautiful smile and eat all of your favorite foods
                        again!</p>
                    <ul class="vip-package__col-list">
                        <li class="vip-package__col-item">Full Arch Restoration</li>
                        <li class="vip-package__col-item">Same Day Smile</li>
                        <li class="vip-package__col-item">Yomi Robotic-assisted dental implants</li>
                        <li class="vip-package__col-item">Permanent Fixed Restorations</li>
                    </ul>
                    <div class="vip-package__included">
                        <h4 class="vip-package__included-title">Included:</h4>
                        <ul class="vip-package__included-list">
                            <li class="vip-package__included-item">All dental imaging, including x-rays and CT scans
                            </li>
                            <li class="vip-package__included-item">All surgical components: Robotic-Assisted Implant
                                placement, extractions, alveoplasty, minor bone grafting</li>
                            <li class="vip-package__included-item">Custom temporaries made in our in-house lab</li>
                            <li class="vip-package__included-item">All post operative office visits and follow-ups</li>
                            <li class="vip-package__included-item">Permanent Fixed Restorations: Natural-looking,
                                non-removable custom-made permanent teeth fabricated in-house. Placed after 4-6 months
                                healing.</li>
                        </ul>
                    </div>
                </div>

                <div class="vip-package__col">
                    <h3 class="vip-package__col-title">Extras</h3>
                    <p class="vip-package__col-text">A concierge is available to assist with scheduling, travel
                        arrangements — including complimentary round-trip Uber on surgery day — finances and insurance,
                        as well as prescriptions.</p>
                    <ul class="vip-package__col-list">
                        <li class="vip-package__col-item">Personal 5 Star Care from our dedicated staff</li>
                        <li class="vip-package__col-item">Free oral hygiene kit designed for implant care</li>
                        <li class="vip-package__col-item">Dedicated Emergency Hotline Number, should you have any
                            questions or concerns</li>
                        <li class="vip-package__col-item">Comfort gift at completion of surgical treatment</li>
                    </ul>
                </div>
            </div>

            <div class="vip-package__amenities">
                <h3 class="vip-package__amenities-title">Office amenities and conveniences</h3>
                <ul class="vip-package__amenities-list">
                    <li class="vip-package__amenities-item">
                        <img src="../../assets/images/pricing/vip-package/amenities-1.svg" alt=""
                            class="vip-package__amenities-icon">
                        <span class="vip-package__amenities-text">Beverage Station with Espresso, Coffee, Hot Tea, Water
                            and
                            Snacks</span>
                    </li>
                    <li class="vip-package__amenities-item">
                        <img src="../../assets/images/pricing/vip-package/amenities-2.svg" alt=""
                            class="vip-package__amenities-icon">
                        <span class="vip-package__amenities-text">Individual waiting room areas with TVs and in every
                            treatment
                            room</span>
                    </li>
                    <li class="vip-package__amenities-item">
                        <img src="../../assets/images/pricing/vip-package/amenities-3.svg" alt=""
                            class="vip-package__amenities-icon">
                        <span class="vip-package__amenities-text">Conveniently located downtown, just steps from the
                            train
                            station
                        </span>
                    </li>
                    <li class="vip-package__amenities-item">
                        <img src="../../assets/images/pricing/vip-package/amenities-4.svg" alt=""
                            class="vip-package__amenities-icon">
                        <span class="vip-package__amenities-text">Free on-site parking</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
