<section class="feedback referral-rewards-feedback">
    <h2 class="feedback__title">Referral Information</h2>
    <div class="feedback__wrapper">
        <form action="" class="form feedback__form">
            <div class="form-fields feedback__form-fields">
                <div class="form-field feedback__form-field">
                    <input class="form-input feedback__form-input" type="text" id="name" name="name" placeholder=" "
                        required>
                    <label class="form-label feedback__form-label" for="name">Full First and Last Name</label>
                </div>
                <div class="form-field feedback__form-field">
                    <input class="form-input feedback__form-input" type="email" id="email" name="email" placeholder=" "
                        required>
                    <label class="form-label feedback__form-label" for="email">Email Address</label>
                </div>
                <div class="form-field feedback__form-field">
                    <input class="form-input feedback__form-input" type="text" id="name" name="name" placeholder=" "
                        required>
                    <label class="form-label feedback__form-label" for="name">Referred Patient’s Full Name</label>
                </div>
                <div class="form-field feedback__form-field">
                    <input class="form-input feedback__form-input" type="email" id="email" name="email" placeholder=" "
                        required>
                    <label class="form-label feedback__form-label" for="email">Patient's Email Address</label>
                </div>
                <div class="form-field feedback__form-field">
                    <input class="form-input feedback__form-input" type="email" id="email" name="email" placeholder=" "
                        required>
                    <label class="form-label feedback__form-label" for="email">Relationship to Patient</label>
                    <small class="form-hint feedback__form-hint">e.g., parent, sibling, friend</small>
                </div>
                <div class="form-field feedback__form-field">
                    <textarea class="form-textarea feedback__form-textarea" name="message" rows="4"
                        placeholder="Message"></textarea>
                </div>
            </div>
            <div class="form-field-checkbox feedback__form-field-checkbox">
                <input class="form-checkbox feedback__form-checkbox" type="checkbox" id="consent" name="consent"
                    required>
                <label class="form-label-checkbox feedback__form-label-checkbox" for="consent">
                    <span class="form-checkbox__custom"></span>
                    <span class="form-checkbox__custom-highlight">Question for Roma:</span>
                    Should we add a checkbox here, like 'I agree to the privacy policy'? Currently, there is no such
                    checkbox on the website, nor is there a page with the privacy policy.
                </label>
            </div>
            <button class="feedback__form-button button button--blue" type="submit">
                <span class="button-text">SUBMIT REFERRAL</span>
            </button>
        </form>
    </div>
</section>
