<section class="referral-rewards">
    <div class="container">
        <div class="referral-rewards__wrapper">
            <div class="referral-rewards__right">
                <h1 class="referral-rewards__title">Refer A Friend</h1>
                <p class="referral-rewards__text">A thriving practice is more than just a measure of success —
                    it's a reflection of our unwavering commitment to excellence, the trust we’ve earned from
                    our patients, and the strong relationships we’ve built within our professional community.
                    We’re truly grateful for the confidence you’ve placed in us and sincerely thank you for
                    referring your friends and family to our practice.</p>
            </div>
            <div class="referral-rewards__left">
                <include src="blocks/referral-rewards/referral-information-feedback.html"></include>
                <include src="blocks/contact-us/success-message.html"></include>
            </div>

        </div>
    </div>
</section>
