@use "../../utils/utils" as *;
@use "../../components/components" as *;

.blog {
  padding: 6rem 0;

  @include media(992.98, "max") {
    padding: 4rem 0;
  }

  // .blog__wrapper
  &__wrapper {
  }

  // .blog__title
  &__title {
    @include h1;
    margin-bottom: 6rem;
    text-align: center;

    @include media(992.98, "max") {
      margin-bottom: 4rem;
      @include h1-mob;
    }
  }

  // .blog__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include media(992.98, "max") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(576.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .blog__card
  &__card {
    border-radius: 2rem;
    overflow: hidden;
  }

  // .blog__card-link
  &__card-link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // .blog__card-image
  &__card-image {
    width: 100%;
    max-height: 25rem;
    height: 100%;
    background: #d9d9d9;

    @include media(992.98, "max") {
      max-height: 19.5rem;
    }

    @include media(576.98, "max") {
      max-height: 22rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  // .blog__card-content
  &__card-content {
    padding: 3rem;
    background: #f2f7fa;
    height: 100%;

    @include media(576.98, "max") {
      padding: 2rem;
    }
  }

  // .blog__card-title
  &__card-title {
    @include h3;
    margin-bottom: 1rem;
  }

  // .blog__card-text
  &__card-text {
    @include paragraph;
    margin-bottom: 1rem;
  }

  // .blog__card-date
  &__card-date {
    @include small;
    color: $sand-dark;
  }

  // .blog
  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 6rem 0;
  }

  // .blog__loader-circle
  &__loader-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation: blink 1.4s infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  // .blog__loader-text
  &__loader-text {
    @include inter-regular;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(153, 153, 153, 1);
  }
  @keyframes blink {
    0%,
    80%,
    100% {
      background: rgba(0, 0, 0, 0.2);
    }
    40% {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}
