<section class="doctors-certificate">
    <div class="container">
        <div class="doctors-certificate__wrapper">
            <div class="doctors-certificate__image">
                <img src="../../assets/images/doctors-certificate/doctors-certificate-1.png" alt="">
            </div>
            <div class="doctors-certificate__image">
                <img src="../../assets/images/doctors-certificate/doctors-certificate-2.png" alt="">
            </div>
            <div class="doctors-certificate__image">
                <img src="../../assets/images/doctors-certificate/doctors-certificate-3.png" alt="">
            </div>
            <div class="doctors-certificate__image">
                <img src="../../assets/images/doctors-certificate/doctors-certificate-4.png" alt="">
            </div>
            <div class="doctors-certificate__image">
                <img src="../../assets/images/doctors-certificate/doctors-certificate-5.png" alt="">
            </div>
        </div>
    </div>
</section>
