<section class="about-founder">
    <div class="container">
        <div class="about-founder__wrapper">
            <div class="about-founder__image">
                <img src="../../assets/images/home/about-founder/doctor.png" alt="Arthur Greyf">
            </div>
            <div class="about-founder__content">
                <div class="about-founder__content-header">
                    <img src="../../assets/images/home/about-founder/doctor-mob.png" alt="Arthur Greyf"
                        class="about-founder__image-mob">
                    <h2 class="about-founder__subtitle">Meet our Founder <br /> & Chief Dental Officer</h2>
                </div>
                <h3 class="about-founder__name">Arthur Greyf</h3>
                <p class="about-founder__degree">
                    DDS (Doctor of Dental Surgery) degree and is a certified Fellow of the International Congress of
                    Oral Implantologists (FICOI)
                </p>
                <p class="about-founder__text">
                    Our skilled dentists have extensive experience and training in a wide variety of dental procedures,
                    including implants, extractions, bone graft, root canals, crowns, bridges, veneers, and we
                    specialize in All On Implant Same Day Smiles. Patients have trusted Dr. Greyf and his team for over
                    30 years, and you can, too!
                </p>

                <ul class="about-founder__achievements">
                    <li class="about-founder__achievement">
                        <img src="../../assets/images/icons/check.svg" class="about-founder__achievement-icon" alt="">
                        <span class="about-founder__achievement-text">Misch International Implant Institute
                            Graduate</span>
                    </li>
                    <li class="about-founder__achievement">
                        <img src="../../assets/images/icons/check.svg" class="about-founder__achievement-icon" alt="">
                        <span class="about-founder__achievement-text">Former Associate Clinical Professor, Downstate
                            Medical Center</span>
                    </li>
                    <li class="about-founder__achievement">
                        <img src="../../assets/images/icons/check.svg" class="about-founder__achievement-icon" alt="">
                        <span class="about-founder__achievement-text">Former Lecturer, Dental Laser Technology</span>
                    </li>
                </ul>

                <a href="#" class="about-founder__button button button--blue">
                    <span class="button-text">Meet Dr. Arthur Greyf</span>
                </a>
            </div>
        </div>

        <div class="about-founder__slides">
            <div class="about-founder__slides-wrapper">
                <div class="swiper about-founder__swiper">
                    <div class="swiper-wrapper about-founder__swiper-wrapper">

                        <div class="swiper-slide about-founder__swiper-slide">
                            <div class="about-founder__cooperator">
                                <div class="about-founder__cooperator-image">
                                    <img src="../../assets/images/home/about-founder/about-founder-1.png"
                                        alt="Katerina">
                                </div>
                                <h4 class="about-founder__cooperator-namer">Katerina</h4>
                                <p class="about-founder__cooperator-role">
                                    Experienced Office Manager with strong clinical and admin skills, committed to
                                    supporting patient care and ensuring smooth, efficient dental operations.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide about-founder__swiper-slide">
                            <div class="about-founder__cooperator">
                                <div class="about-founder__cooperator-image">
                                    <img src="../../assets/images/home/about-founder/about-founder-2.png" alt="Karen">
                                </div>
                                <h4 class="about-founder__cooperator-namer">Karen</h4>
                                <p class="about-founder__cooperator-role">
                                    Dental professional with 30+ years in clinical support, insurance, treatment
                                    planning,
                                    and training, focused on improving patient experience and team success.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide about-founder__swiper-slide">
                            <div class="about-founder__cooperator">
                                <div class="about-founder__cooperator-image">
                                    <img src="../../assets/images/home/about-founder/about-founder-3.png" alt="Emely">
                                </div>
                                <h4 class="about-founder__cooperator-namer">Emely</h4>
                                <p class="about-founder__cooperator-role">
                                    Emely, bilingual in Spanish and English, welcomes new patients warmly, easing nerves
                                    with her diverse background and passion for dentistry.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide about-founder__swiper-slide">
                            <div class="about-founder__cooperator">
                                <div class="about-founder__cooperator-image">
                                    <img src="../../assets/images/home/about-founder/about-founder-4.png" alt="Melissa">
                                </div>
                                <h4 class="about-founder__cooperator-namer">Melissa</h4>
                                <p class="about-founder__cooperator-role">
                                    Melissa, fluent in Brazilian Portuguese, is a skilled New Patient Coordinator since
                                    2015, easing patients’ concerns with care and expertise.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide about-founder__swiper-slide">
                            <div class="about-founder__cooperator">
                                <div class="about-founder__cooperator-image">
                                    <img src="../../assets/images/home/about-founder/about-founder-1.png"
                                        alt="Katerina">
                                </div>
                                <h4 class="about-founder__cooperator-namer">Katerina</h4>
                                <p class="about-founder__cooperator-role">
                                    Experienced Office Manager with strong clinical and admin skills, committed to
                                    supporting patient care and ensuring smooth, efficient dental operations.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide about-founder__swiper-slide">
                            <div class="about-founder__cooperator">
                                <div class="about-founder__cooperator-image">
                                    <img src="../../assets/images/home/about-founder/about-founder-2.png" alt="Karen">
                                </div>
                                <h4 class="about-founder__cooperator-namer">Karen</h4>
                                <p class="about-founder__cooperator-role">
                                    Dental professional with 30+ years in clinical support, insurance, treatment
                                    planning,
                                    and training, focused on improving patient experience and team success.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide about-founder__swiper-slide">
                            <div class="about-founder__cooperator">
                                <div class="about-founder__cooperator-image">
                                    <img src="../../assets/images/home/about-founder/about-founder-3.png" alt="Emely">
                                </div>
                                <h4 class="about-founder__cooperator-namer">Emely</h4>
                                <p class="about-founder__cooperator-role">
                                    Emely, bilingual in Spanish and English, welcomes new patients warmly, easing nerves
                                    with her diverse background and passion for dentistry.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide about-founder__swiper-slide">
                            <div class="about-founder__cooperator">
                                <div class="about-founder__cooperator-image">
                                    <img src="../../assets/images/home/about-founder/about-founder-4.png" alt="Melissa">
                                </div>
                                <h4 class="about-founder__cooperator-namer">Melissa</h4>
                                <p class="about-founder__cooperator-role">
                                    Melissa, fluent in Brazilian Portuguese, is a skilled New Patient Coordinator since
                                    2015, easing patients’ concerns with care and expertise.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="about-founder__swiper-navigation">
                    <div class="about-founder__swiper-button about-founder__swiper-button--prev">
                        <img src="../../assets/images/icons/arrow-next-dark.svg" alt="">
                    </div>
                    <div class="about-founder__swiper-button about-founder__swiper-button--next">
                        <img src="../../assets/images/icons/arrow-next-dark.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
