<div class="dental-showcase">
    <div class="container">
        <div class="dental-showcase__wrapper">
            <div class="dental-showcase__image">
                <img src="../../assets/images/home/dental-showcase/image-1.png" alt="Улыбка пациента">
            </div>
            <div class="dental-showcase__content">
                <a href="#" class="dental-showcase__link">
                    <h3 class="dental-showcase__title">All on implant same day smiles</h3>
                    <p class="dental-showcase__description">Get a secure and natural-looking full arch restoration in
                        just one
                        visit.</p>
                    <div class="dental-showcase__arrow">
                        <img src="../../assets/images/icons/arrow-next-dark.svg" alt="">
                    </div>
                </a>
                <a href="#" class="dental-showcase__link">
                    <h3 class="dental-showcase__title">Dental implants</h3>
                    <p class="dental-showcase__description">Replace missing or damaged teeth with durable and affordable
                        implants.</p>
                    <div class="dental-showcase__arrow">
                        <img src="../../assets/images/icons/arrow-next-dark.svg" alt="">
                    </div>
                </a>
                <a href="#" class="dental-showcase__link">
                    <h3 class="dental-showcase__title">Cosmetic dentistry</h3>
                    <p class="dental-showcase__description">Enhance your smile with crowns, veneers, aligners, or
                        whitening.
                    </p>
                    <div class="dental-showcase__arrow">
                        <img src="../../assets/images/icons/arrow-next-dark.svg" alt="">
                    </div>
                </a>
                <a href="#" class="dental-showcase__link">
                    <h3 class="dental-showcase__title">Dental cleaning and check-up</h3>
                    <p class="dental-showcase__description">Maintain healthy teeth and gums with regular professional
                        care.</p>
                    <div class="dental-showcase__arrow">
                        <img src="../../assets/images/icons/arrow-next-dark.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
