<section class="our-services">
    <div class="container">
        <h2 class="our-services__title">Our Services</h2>
        <div class="our-services__wrapper">
            <div class="our-services__cards">
                <div class="our-services__card">
                    <div class="our-services__card-icon">
                        <img src="../../assets/images/home/our-services/our-services-1.svg" alt="">
                    </div>
                    <h3 class="our-services__card-title">Robotic Dental Implants</h3>
                    <p class="our-services__card-text">Robotic Dental Implants restore function, health, and
                        aesthetics for one or more teeth using advanced technology for natural, lasting results.
                    </p>
                    <button class="our-services__card-button button button--blue" type="button">
                        <span class="button-text">Learn more</span>
                    </button>
                </div>
                <div class="our-services__card">
                    <div class="our-services__card-icon">
                        <img src="../../assets/images/home/our-services/our-services-2.svg" alt="">
                    </div>
                    <h3 class="our-services__card-title">Same-Day Restorations</h3>
                    <p class="our-services__card-text">We use the Planmeca™ system for same-day crowns,
                        fillings, and veneers, creating natural restorations with digital scans and in-house 3D
                        milling.
                    </p>
                    <button class="our-services__card-button button button--blue" type="button">
                        <span class="button-text">Learn more</span>
                    </button>
                </div>
                <div class="our-services__card">
                    <div class="our-services__card-icon">
                        <img src="../../assets/images/home/our-services/our-services-3.svg" alt="">
                    </div>
                    <h3 class="our-services__card-title">Cosmetic Dentistry</h3>
                    <p class="our-services__card-text">We use advanced techniques like teeth whitening and 3D
                        Predict® AI aligners to create radiant smiles and enhance beauty, one smile at a time!
                    </p>
                    <button class="our-services__card-button button button--blue" type="button">
                        <span class="button-text">Learn more</span>
                    </button>
                </div>
                <div class="our-services__card">
                    <div class="our-services__card-icon">
                        <img src="../../assets/images/home/our-services/our-services-4.svg" alt="">
                    </div>
                    <h3 class="our-services__card-title">3D Digital Imaging</h3>
                    <p class="our-services__card-text">Advanced digital imaging helps us create accurate 3D
                        models for diagnostics and in-house milling, producing crowns that look and function
                        like natural teeth.
                    </p>
                    <button class="our-services__card-button button button--blue" type="button">
                        <span class="button-text">Learn more</span>
                    </button>
                </div>
                <div class="our-services__card">
                    <div class="our-services__card-icon">
                        <img src="../../assets/images/home/our-services/our-services-5.svg" alt="">
                    </div>
                    <h3 class="our-services__card-title">Robotic Dentistry</h3>
                    <p class="our-services__card-text">Yomi® is the only FDA-cleared robot-assisted dental
                        system, used by Dr. Greyf for precise implant planning and placement, ensuring ideal
                        results.
                    </p>
                    <button class="our-services__card-button button button--blue" type="button">
                        <span class="button-text">Learn more</span>
                    </button>
                </div>
                <div class="our-services__card">
                    <div class="our-services__card-icon">
                        <img src="../../assets/images/home/our-services/our-services-6.svg" alt="">
                    </div>
                    <h3 class="our-services__card-title">Bone Grafting</h3>
                    <p class="our-services__card-text">Bone grafting restores jawbone using natural or synthetic
                        materials to support dental implants and ensure lasting results.
                    </p>
                    <button class="our-services__card-button button button--blue" type="button">
                        <span class="button-text">Learn more</span>
                    </button>
                </div>
            </div>
            <div class="our-services__slider">
                <div class="swiper our-services__swiper">
                    <div class="swiper-wrapper our-services__swiper-wrapper">
                        <div class="swiper-slide our-services__swiper-slide">
                            <div class="our-services__card">
                                <div class="our-services__card-icon">
                                    <img src="../../assets/images/home/our-services/our-services-1.svg" alt="">
                                </div>
                                <h3 class="our-services__card-title">Robotic Dental Implants</h3>
                                <p class="our-services__card-text">Robotic Dental Implants restore function, health, and
                                    aesthetics for one or more teeth using advanced technology for natural, lasting
                                    results.
                                </p>
                                <a href="#" class="our-services__card-button button button--blue">
                                    <span class="button-text">Learn more</span>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide our-services__swiper-slide">
                            <div class="our-services__card">
                                <div class="our-services__card-icon">
                                    <img src="../../assets/images/home/our-services/our-services-2.svg" alt="">
                                </div>
                                <h3 class="our-services__card-title">Same-Day Restorations</h3>
                                <p class="our-services__card-text">We use the Planmeca™ system for same-day crowns,
                                    fillings, and veneers, creating natural restorations with digital scans and in-house
                                    3D
                                    milling.
                                </p>
                                <a href="#" class="our-services__card-button button button--blue">
                                    <span class="button-text">Learn more</span>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide our-services__swiper-slide">
                            <div class="our-services__card">
                                <div class="our-services__card-icon">
                                    <img src="../../assets/images/home/our-services/our-services-3.svg" alt="">
                                </div>
                                <h3 class="our-services__card-title">Cosmetic Dentistry</h3>
                                <p class="our-services__card-text">We use advanced techniques like teeth whitening and
                                    3D
                                    Predict® AI aligners to create radiant smiles and enhance beauty, one smile at a
                                    time!
                                </p>
                                <a href="#" class="our-services__card-button button button--blue">
                                    <span class="button-text">Learn more</span>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide our-services__swiper-slide">
                            <div class="our-services__card">
                                <div class="our-services__card-icon">
                                    <img src="../../assets/images/home/our-services/our-services-4.svg" alt="">
                                </div>
                                <h3 class="our-services__card-title">3D Digital Imaging</h3>
                                <p class="our-services__card-text">Advanced digital imaging helps us create accurate 3D
                                    models for diagnostics and in-house milling, producing crowns that look and function
                                    like natural teeth.
                                </p>
                                <a href="#" class="our-services__card-button button button--blue">
                                    <span class="button-text">Learn more</span>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide our-services__swiper-slide">
                            <div class="our-services__card">
                                <div class="our-services__card-icon">
                                    <img src="../../assets/images/home/our-services/our-services-5.svg" alt="">
                                </div>
                                <h3 class="our-services__card-title">Robotic Dentistry</h3>
                                <p class="our-services__card-text">Yomi® is the only FDA-cleared robot-assisted dental
                                    system, used by Dr. Greyf for precise implant planning and placement, ensuring ideal
                                    results.
                                </p>
                                <a href="#" class="our-services__card-button button button--blue">
                                    <span class="button-text">Learn more</span>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide our-services__swiper-slide">
                            <div class="our-services__card">
                                <div class="our-services__card-icon">
                                    <img src="../../assets/images/home/our-services/our-services-6.svg" alt="">
                                </div>
                                <h3 class="our-services__card-title">Bone Grafting</h3>
                                <p class="our-services__card-text">Bone grafting restores jawbone using natural or
                                    synthetic
                                    materials to support dental implants and ensure lasting results.
                                </p>
                                <a href="#" class="our-services__card-button button button--blue">
                                    <span class="button-text">Learn more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
