<div class="promo">
    <div class="container">
        <div class="promo__wrapper">
            <div class="promo__content">
                <h1 class="promo__title">
                    Get a New Smile <span class="promo__title-highlight">the Same Day</span>
                </h1>
                <span class="promo__subtitle">
                    Restore your smile with dental implants with
                    <span class="promo__subtitle-highlight">All on X</span>
                </span>
                <div class="promo__team">
                    <div class="promo__team-image">
                        <img src="../../assets/images/home/promo/team-1.png" alt="Team member">
                    </div>
                    <div class="promo__team-image">
                        <img src="../../assets/images/home/promo/team-2.png" alt="Team member">
                    </div>
                    <div class="promo__team-image">
                        <img src="../../assets/images/home/promo/team-3.png" alt="Team member">
                    </div>
                    <div class="promo__team-image">
                        <img src="../../assets/images/home/promo/team-4.png" alt="Team member">
                    </div>
                    <div class="promo__team-image">
                        <img src="../../assets/images/home/promo/team-5.png" alt="Team member">
                    </div>
                </div>
                <div class="promo__buttons">
                    <a href="#" class="promo__button button button--blue">
                        <span class="button-text">Book a Free Consultation</span>
                    </a>
                    <a href="#" class="promo__button button button--light-blue">
                        <span class="button-text">Who We Are</span>
                    </a> 
                </div>
            </div>
            <div class="promo__image">
                <div class="swiper promo__swiper">
                    <div class="swiper-wrapper promo__swiper-wrapper">
                        <div class="swiper-slide promo__swiper-slide">
                            <div class="promo__image-pic">
                                <img src="../../assets/images/home/promo/promo-main.png" alt="Clinic photo">
                            </div>
                        </div>
                        <div class="swiper-slide promo__swiper-slide">
                            <div class="promo__image-pic">
                                <img src="../../assets/images/banner/banner.png" alt="Clinic photo">
                            </div>
                        </div>
                        <div class="swiper-slide promo__swiper-slide">
                            <div class="promo__image-pic">
                                <img src="../../assets/images/hero/hero-1.png" alt="Clinic photo">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="promo__badge">
                    <img src="../../assets/images/home/promo/30-years.svg" alt="30 + years">
                </div>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&autoplay=1&mute=1" class="promo__video"
                    data-fancybox>
                    <img src="../../assets/images/icons/play.svg" class="promo__video-play" alt="Play">
                    <div class="promo__video-text">Meet Our Clinic</div>
                </a>
            </div>
        </div>
    </div>
</div>
