<section class="stats-card">
    <div class="container">
        <div class="stats-card__slides">
            <div class="swiper stats-card__swiper">
                <div class="swiper-wrapper stats-card__swiper-wrapper">
                    <div class="swiper-slide stats-card__swiper-slide">
                        <div class="stats-card__item">
                            <h2 class="stats-card__label">6 hours</h2>
                            <span class="stats-card__value">for a whole new smile</span>
                        </div>
                    </div>

                    <div class="swiper-slide stats-card__swiper-slide">
                        <div class="stats-card__item">
                            <h2 class="stats-card__label">35 000 +</h2>
                            <span class="stats-card__value">of implants placed</span>
                        </div>
                    </div>

                    <div class="swiper-slide stats-card__swiper-slide">
                        <div class="stats-card__item">
                            <h2 class="stats-card__label">Certified</h2>
                            <span class="stats-card__value">Fellow of ICOI, Patents for bone grafting</span>
                        </div>
                    </div>

                    <div class="swiper-slide stats-card__swiper-slide">
                        <div class="stats-card__item stats-card__item--rating">
                            <div class="stats-card__rating">
                                <img class="stats-card__icon" src="../../assets/images/icons/star.svg" alt="star">
                                <h2 class="stats-card__label">
                                    4.8
                                    <span class="stats-card__reviews">(333)</span>
                                </h2>
                            </div>
                            <span class="stats-card__value">Google Maps Rating</span>
                        </div>
                    </div>

                    <div class="swiper-slide stats-card__swiper-slide">
                        <div class="stats-card__item">
                            <h2 class="stats-card__label">90 minutes</h2>
                            <span class="stats-card__value">free consultation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
