<section class="testimonials">
    <div class="testimonials__wrapper">
        <div class="testimonials__gallery">
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-1.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-2.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-3.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-4.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-5.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-6.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-7.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-8.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-9.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-10.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-11.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
            <div class="testimonials__item">
                <img src="../../assets/images/home/testimonials/testimonials-12.png" alt="Happy patient"
                    class="testimonials__image">
            </div>
        </div>
        <div class="container">
            <div class="testimonials__content">
                <h2 class="testimonials__title">Happy and Healthy Smiles</h2>
                <p class="testimonials__text">
                    Our patients' smiles say it all. We take pride in providing compassionate,
                    expert dental care that transforms not just teeth, but lives. From thorough
                    treatments to a welcoming team, we strive to make every visit comfortable
                    and positive. See the happy, healthy smiles of those who trust us with
                    their dental health.
                </p>
                <a href="#" class="testimonials__button button button--blue">
                    <span class="button-text">Check User Testimonials</span>
                </a>
            </div>
        </div>
    </div>
</section>
