<div class="why-choose-us">
    <div class="container">
        <h2 class="why-choose-us__title">Why You Should Choose Us</h2>
        <div class="why-choose-us__wrapper">
            <div class="why-choose-us__card">
                <img class="why-choose-us__image" src="../../assets/images/home/why-choose-us/why-choose-us-1.png"
                    alt="One-Day Smile Makeovers">
                <div class="why-choose-us__content">
                    <h3 class="why-choose-us__card-title">One-Day Smile Makeovers</h3>
                    <p class="why-choose-us__text">With same-day crowns, veneers, and implants, you can walk in and
                        leave with a new smile-all in just one visit.</p>
                </div>
            </div>
            <div class="why-choose-us__card">
                <img class="why-choose-us__image" src="../../assets/images/home/why-choose-us/why-choose-us-2.png"
                    alt="Advanced Technology You Can Trust">
                <div class="why-choose-us__content">
                    <h3 class="why-choose-us__card-title">Advanced Technology You Can Trust</h3>
                    <p class="why-choose-us__text">From robot-guided implants to AI-powered aligners, we use the latest
                        tools for precise, safe, and lasting results.</p>
                </div>
            </div>
            <div class="why-choose-us__card">
                <img class="why-choose-us__image" src="../../assets/images/home/why-choose-us/why-choose-us-3.png"
                    alt="Pain-Free, Stress-Free Dentistry">
                <div class="why-choose-us__content">
                    <h3 class="why-choose-us__card-title">Pain-Free, Stress-Free Dentistry</h3>
                    <p class="why-choose-us__text">Our gentle approach and modern techniques mean no drills, no fear,
                        and minimal discomfort-just real comfort.</p>
                </div>
            </div>
            <div class="why-choose-us__card">
                <img class="why-choose-us__image" src="../../assets/images/home/why-choose-us/why-choose-us-4.png"
                    alt="Fast Recovery, Long-Term Results">
                <div class="why-choose-us__content">
                    <h3 class="why-choose-us__card-title">Fast Recovery, Long-Term Results</h3>
                    <p class="why-choose-us__text">Our minimally invasive treatments help you heal quicker while
                        ensuring your new smile stays strong for years.</p>
                </div>
            </div>
        </div>
    </div>
</div>
