<div class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <div class="banner__image">
                <img src="../../assets/images/banner/banner.png" alt="">
            </div>
            <div class="banner__content">
                <h2 class="banner__title">Give your teeth the healthiest armor possible</h2>
                <p class="banner__text">
                    We get it—dentists can be scary. That’s why we start with kindness, not drills. Take advantage of
                    our
                    special offers and see what gentle, high-tech care really feels like.
                </p>
                <a href="#" class="banner__button button button--blue">
                    <span class="button-text">Claim Special Offers</span>
                </a>
            </div>
        </div>
    </div>
</div>
