<section class="columns-block columns-block-contact">
    <div class="container">
        <div class="columns-block__grid">
            <div class="columns-block__col">
                <h3 class="columns-block__title">Treatment Costs</h3>
                <p class="columns-block__text">We are dedicated to offering the latest dental technologies, including
                    same-day crowns, in-house restorations, and robot-assisted implants for optimal results. Our
                    practice integrates state-of-the-art techniques such as digital imaging and laser dentistry to
                    ensure the highest level of care. Whether you need restorations, implants, or cosmetic services, we
                    have you covered.</p>
            </div>
            <div class="columns-block__col">
                <h3 class="columns-block__title">Payment Options Accepted</h3>
                <ul class="columns-block__list">
                    <li class="columns-block__item">Dental Insurance</li>
                    <li class="columns-block__item">Cash</li>
                    <li class="columns-block__item">Credit Card</li>
                    <li class="columns-block__item">Third-Party Financing</li>
                </ul>
                <p class="columns-block__text">We accept most major credit cards and PPO insurance plans. Our team is
                    here to assist with insurance claims and help you understand your coverage and any out-of-pocket
                    costs. Contact us with any questions.</p>

            </div>
            <div class="columns-block__col">
                <h3 class="columns-block__title">Contact & Booking</h3>
                <p class="columns-block__address">425 Essex Street Millburn, NJ 07041</p>
                <div class="columns-block__contacts">
                    <div class="columns-block__contacts-item">
                        <span class="columns-block__contacts-label">Call or Text</span>
                        <span class="columns-block__contacts-value">
                            <a href="#">1 (973) 535–4300</a>
                        </span>
                    </div>
                    <div class="columns-block__contacts-item">
                        <span class="columns-block__contacts-label">WhatsApp</span>
                        <span class="columns-block__contacts-value columns-block__contacts-value--red">
                            <a href="#">1 (973) 703-0658</a>
                        </span>
                    </div>
                    <div class="columns-block__contacts-item">
                        <span class="columns-block__contacts-label">Email</span>
                        <span class="columns-block__contacts-value">
                            <a href="#">reception@dnadental.com</a>
                        </span>
                    </div>
                    <div class="columns-block__contacts-item">
                        <span class="columns-block__contacts-label">Office Hours</span>
                        <span class="columns-block__contacts-value">
                            Mon–Thu, 10 AM – 7 PM
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
