<section class="columns-block">
    <div class="container">
        <div class="columns-block__grid">
            <div class="columns-block__col">
                <h3 class="columns-block__title">State-of-the-Art Dental Technologies</h3>
                <p class="columns-block__text">We are dedicated to offering the latest dental technologies, including
                    same-day crowns, in-house restorations, and robot-assisted implants for optimal results. Our
                    practice integrates state-of-the-art techniques such as digital imaging and laser dentistry to
                    ensure the highest level of care. Whether you need restorations, implants, or cosmetic services, we
                    have you covered.</p>
                <p class="columns-block__text">
                    We prioritize patient comfort and efficiency, delivering excellent results faster than traditional
                    methods. Our advanced technology enables quick, safe, and painless procedures.
                </p>
            </div>
            <div class="columns-block__col">
                <h3 class="columns-block__title">Contact Us</h3>
                <p class="columns-block__text">Serving Millburn since 2000, we combine personalized service with
                    advanced dental care to help you achieve a healthy, beautiful smile. Our welcoming team treats you
                    like family. Ready to explore your options? Contact us for a free consultation—no pressure, just a
                    friendly talk to understand your needs and discuss how we can help. We look forward to welcoming
                    you!</p>
                <a href="#" class="columns-block__button button button--blue">
                    <span class="button-text">Schedule your consultation</span>
                </a>
            </div>
            <div class="columns-block__col">
                <h3 class="columns-block__title">Are You a Candidate?</h3>
                <p class="columns-block__text">You may be a candidate for full-mouth reconstruction when any of the
                    following apply to you.</p>
                <ul class="columns-block__list">
                    <li class="columns-block__item">Your teeth have been lost due to decay or trauma</li>
                    <li class="columns-block__item">Your teeth have been injured or fractured</li>
                    <li class="columns-block__item">Your teeth have become severely worn from long-term acid erosion
                        caused by foods, beverages, or acid reflux</li>
                    <li class="columns-block__item">You experience ongoing jaw, muscle, or headache pain related to your
                        bite</li>
                </ul>
            </div>
            <div class="columns-block__col">
                <h3 class="columns-block__title">What to Bring to Your First Appointment</h3>
                <ul class="columns-block__list">
                    <li class="columns-block__item">Your completed <a href="#" class="columns-block__item-link">patient
                            information form</a></li>
                    <li class="columns-block__item">Driver License or State ID</li>
                    <li class="columns-block__item">Dental insurance card</li>
                </ul>
            </div>
            <div class="columns-block__col">
                <img src="../../assets/images/columns-block/columns-block-1.png" alt="">
            </div>
        </div>
    </div>
</section>
