<section class="columns-block columns-block-second">
    <div class="container">
        <div class="columns-block__grid">
            <div class="columns-block__col">
                <h3 class="columns-block__title">What Is CEREC?</h3>
                <p class="columns-block__text">CEREC is a CAD/CAM milling system used to fabricate beautiful and durable single-unit restorations for damaged teeth in just one visit to the dentist's office. The restorations are made with a metal-free lithium disilicated ceramic called e.max, which is compatible with the natural tissue in your mouth and is the strongest material for crowns.</p>
                <p class="columns-block__text">
                    We prioritize patient comfort and efficiency, delivering excellent results faster than traditional
                    methods. Our advanced technology enables quick, safe, and painless procedures.
                </p>
            </div>
            <div class="columns-block__col">
                <h3 class="columns-block__title">The CEREC Process</h3>
                <p class="columns-block__text">The doctor will explain the procedure and answer any questions you might have.</p>
                <ul class="columns-block__list">
                    <li class="columns-block__item">A 3D intraoral scanner is used to capture detailed images of your tooth and bite</li>
                    <li class="columns-block__item">Using CEREC’s software, a custom restoration is designed to fit your tooth perfectly</li>
                    <li class="columns-block__item">The CEREC milling machine crafts your restoration from a durable block of e.max material</li>
                    <li class="columns-block__item">The final restoration is bonded to your tooth using advanced adhesive techniques for a natural, long-lasting result</li>
                </ul>
            </div>
        </div>
    </div>
</section>
