<section class="columns-block columns-block-services">
    <div class="container">
        <div class="columns-block__grid">
            <div class="columns-block__col">
                <h3 class="columns-block__title">Our Technology</h3>
                <p class="columns-block__text">We use state-of-the-art technology to ensure your treatment is precise,
                    effective, and as comfortable as possible. These technologies help us provide the best possible care
                    with greater efficiency and precision.</p>
                <ul class="columns-block__list">
                    <li class="columns-block__item">The Root ZX Apex Locator helps our doctors accurately measure the
                        root canal length, ensuring precise cleaning and sealing.</li>
                    <li class="columns-block__item">Digital X-rays provide fast, accurate, and low-radiation imaging to
                        evaluate the tooth’s condition.</li>
                    <li class="columns-block__item">Rotary Endodontics utilizes modern tools that allow for faster and
                        more efficient cleaning of the root canals, reducing trauma to the tooth.</li>
                </ul>
            </div>
            <div class="columns-block__col">
                <h3 class="columns-block__title">Materials Used</h3>
                <p class="columns-block__text">We use only the highest quality materials.</p>
                <ul class="columns-block__list">
                    <li class="columns-block__item">Dental composites are safe and reliable materials used to fill the
                        root canal after treatment.</li>
                    <li class="columns-block__item">Porcelain crowns are durable and natural-looking, designed to
                        restore your tooth after the procedure.</li>
                    <li class="columns-block__item">Top brands ensure the longevity and quality of your dental
                        restoration, as we only work with trusted manufacturers.</li>
                </ul>
            </div>
            <div class="columns-block__col">
                <h3 class="columns-block__title">Your First Visit</h3>
                <ul class="columns-block__list">
                    <li class="columns-block__item">We will examine the tooth and take X-rays to assess the situation.
                    </li>
                    <li class="columns-block__item">We'll discuss possible treatment options and create a personalized
                        treatment plan.</li>
                    <li class="columns-block__item">You will have the opportunity to ask questions and understand all
                        aspects of the procedure.</li>
                </ul>
                <p class="columns-block__text">The initial consultation costs $N, and this amount will be credited
                    toward the cost of treatment if
                    you decide to proceed with root canal therapy.</p>
            </div>
        </div>
    </div>
</section>
