<section class="differences">
    <div class="container">
        <div class="differences__wrapper">
            <h2 class="differences__title">What Makes Us Different</h2>
            <div class="differences__grid">
                <a href="#" class="differences__card">
                    <div class="differences__card-content">
                        <h3 class="differences__card-title">We do All on X</h3>
                        <p class="differences__card-text">
                            We anchor full dentures with 5–6 implants for superior comfort and stability.
                            Most offices use All-on-4, which relies on only 4 implants.
                        </p>
                    </div>
                    <div class="differences__card-image">
                        <img src="../../assets/images/differences/differences-1.png" alt="All on X implants">
                    </div>
                </a>

                <a href="#" class="differences__card">
                    <div class="differences__card-content">
                        <h3 class="differences__card-title">We have better technology</h3>
                        <p class="differences__card-text">
                            First in NJ with Yomi® Robotic-Assisted Tech. Yomi® tech ensures precise implant placement
                            with smaller incisions and no stitches, leading to faster, more comfortable healing and
                            longer-lasting implants.
                        </p>
                    </div>
                    <div class="differences__card-image">
                        <img src="../../assets/images/differences/differences-2.png" alt="Robotic-assisted technology">
                    </div>
                </a>

                <a href="#" class="differences__card">
                    <div class="differences__card-content">
                        <h3 class="differences__card-title">We speak multiple languages</h3>
                        <p class="differences__card-text">
                            Did you know we speak multiple languages? English, Russian, Ukrainian, Spanish, Yiddish all
                            fluently
                            and some French, Italian and Portuguese, too!
                        </p>
                    </div>
                    <div class="differences__card-image">
                        <img src="../../assets/images/differences/differences-3.png" alt="Robotic-assisted technology">
                    </div>
                </a>

                <a href="#" class="differences__card">
                    <div class="differences__card-content">
                        <h3 class="differences__card-title">We care about you</h3>
                        <p class="differences__card-text">
                            We want you to have the new smile of your dreams! Our doctors and staff are renowned for
                            really listening to our patients and going the extra mile! We look forward to you joining
                            our
                            dental family!
                        </p>
                    </div>
                    <div class="differences__card-image">
                        <img src="../../assets/images/differences/differences-4.png" alt="Patient care">
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>
