<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__content">
                <h1 class="hero__title">CEREC® Same Day Crowns</h1>
                <p class="hero__subtitle">Durable, natural-looking ceramic restorations made in one visit using 3D
                    imaging, design, and milling technology.</p>
            </div>
            <div class="hero__image">
                <img src="../../assets/images/hero/hero-1.png" alt="Implant-supported dentures">
            </div>
        </div>
    </div>
</section>
