<section class="payment-options">
    <div class="container">
        <div class="payment-options__wrapper">
            <div class="payment-options__image">
                <img src="../../assets/images/payment-options/payment-options-img.png" alt="">
            </div>
            <div class="payment-options__content">
                <h2 class="payment-options__title">Payment Options</h2>
                <div class="payment-options__list">
                    <div class="payment-options__item">
                        <span class="payment-options__item-text">Dental Insurance</span>
                    </div>
                    <div class="payment-options__item">
                        <span class="payment-options__item-text">Cash or Card</span>
                    </div>
                    <div class="payment-options__item">
                        <span class="payment-options__item-text">Third-Party Loan</span>
                    </div>
                </div>
                <div class="payment-options__into">
                    <div class="payment-options__into-item">
                        <p class="payment-options__description">The cost of your treatment will vary, depending on your
                            individual needs and treatment plan.
                            We will discuss the cost of your treatment and each of your available payment options with
                            you before you begin, so you can make the choice best for you.
                        </p>
                        <p class="payment-options__description"> Our office staff is always available to help you with insurance claims and paperwork. We'll
                            work with you to help you understand your coverage and to plan ahead for any out-of-pocket
                            expenses. Please let us know if you have any questions about your insurance coverage.</p>
                    </div>
                    <div class="payment-options__into-item">
                        <p class="payment-options__description">
                            Your smile is yours forever. We want to make it as easy as possible for you to receive the
                            best dental care when you need it. Our office is happy to offer multiple third-party
                            financing options to fit your needs. Third-Party Financing Available through CareCredit®,
                            Proceed Finance, Cherry and Alphaeon Credit
                        </p>
                        <a href="#" class="payment-options__button button button--blue">
                            <span class="button-text">LEARN MORE</span>
                        </a>
                        <span class="payment-options__note">
                            0% APR and Other Promotional Rates Subject to Eligibility
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
