<section class="pricing">
    <div class="container">
        <div class="pricing__wrapper">
            <h2 class="pricing__title">Pricing</h2>
            <div class="pricing__slider">
                <div class="swiper pricing__swiper">
                    <div class="swiper-wrapper pricing__swiper-wrapper">
                        <div class="swiper-slide pricing__swiper-slide">
                            <div class="pricing__card">
                                <h3 class="pricing__card-title">Single Implants</h3>
                                <p class="pricing__card-subtitle">Replace One Missing Tooth</p>
                                <div class="pricing__card-price-box">
                                    <p class="pricing__card-price">From</p>
                                    <span class="pricing__card-value">$100 / mo</span>
                                </div>
                                <p class="pricing__card-cost">$3,500 treatment cost</p>
                                <div class="pricing__card-tag pricing__card-tag--green">JUST 2 VISITS</div>
                                <ul class="pricing__card-list">
                                    <li class="pricing__card-item">In-depth Consultation</li>
                                    <li class="pricing__card-item">CT Scan and X-Rays</li>
                                    <li class="pricing__card-item">Treatment Plan</li>
                                    <li class="pricing__card-item">Implant Placement</li>
                                    <li class="pricing__card-item">Implant Abutment</li>
                                    <li class="pricing__card-item">Implant Crown</li>
                                    <li class="pricing__card-item">Implant Care Kit</li>
                                    <li class="pricing__card-item">5 Star Personal Care</li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide pricing__swiper-slide">
                            <div class="pricing__card">
                                <h3 class="pricing__card-title">All on X Implants<br>with Removable Denture</h3>
                                <div class="pricing__card-price-box">
                                    <p class="pricing__card-price">From</p>
                                    <span class="pricing__card-value">$210 / mo</span>
                                </div>
                                <p class="pricing__card-cost">$10,900 treatment cost</p>
                                <div class="pricing__card-tags">
                                    <span class="pricing__card-tag pricing__card-tag--blue">OUR EXCLUSIVE</span>
                                    <span class="pricing__card-tag pricing__card-tag--green">SAME DAY SMILE</span>
                                </div>
                                <ul class="pricing__card-list">
                                    <li class="pricing__card-item">Implant Placement</li>
                                    <li class="pricing__card-item">Beautiful temporaries</li>
                                    <li class="pricing__card-item">Customized removable final denture produced by our in
                                        house
                                        lab
                                    </li>
                                    <li class="pricing__card-item">Implant Care Kit</li>
                                    <li class="pricing__card-item">New Smile Celebration Gift at completion of treatment
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide pricing__swiper-slide">
                            <div class="pricing__card">
                                <h3 class="pricing__card-title">All on X Implants<br>with Permanent Denture</h3>
                                <div class="pricing__card-price-box">
                                    <p class="pricing__card-price">From</p>
                                    <span class="pricing__card-value">$350 / mo</span>
                                </div>
                                <p class="pricing__card-cost">$17,900 treatment cost</p>
                                <div class="pricing__card-tags">
                                    <span class="pricing__card-tag pricing__card-tag--blue">OUR EXCLUSIVE</span>
                                    <span class="pricing__card-tag pricing__card-tag--green">SAME DAY SMILE</span>
                                </div>
                                <ul class="pricing__card-list">
                                    <li class="pricing__card-item">Implant Placement</li>
                                    <li class="pricing__card-item">Beautiful temporaries</li>
                                    <li class="pricing__card-item">Customized non-removable final denture produced by our in
                                        house
                                        lab</li>
                                    <li class="pricing__card-item">Implant Care Kit</li>
                                    <li class="pricing__card-item">New Smile Celebration Gift at completion of treatment
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide pricing__swiper-slide">
                            <div class="pricing__card">
                                <h3 class="pricing__card-title">Full Mouth Implants & Dentures</h3>
                                <div class="pricing__card-price-box">
                                    <p class="pricing__card-price">From</p>
                                    <span class="pricing__card-value">$670 / mo</span>
                                </div>
                                <p class="pricing__card-cost">$35,000 treatment cost</p>
                                <div class="pricing__card-tags">
                                    <span class="pricing__card-tag pricing__card-tag--blue">OUR EXCLUSIVE</span>
                                    <span class="pricing__card-tag pricing__card-tag--green">SAME DAY SMILE</span>
                                </div>
                                <ul class="pricing__card-list">
                                    <li class="pricing__card-item">Implant Placement</li>
                                    <li class="pricing__card-item">Beautiful temporaries</li>
                                    <li class="pricing__card-item">Customized upper & lower final dentures produced by our
                                        in
                                        house
                                        lab</li>
                                    <li class="pricing__card-item">Implant Care Kit</li>
                                    <li class="pricing__card-item">New Smile Celebration Gift at completion of treatment
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricing__footer">
                <a href="#" class="pricing__button button button--blue">
                    <span class="button-text">Financing Options</span>
                </a>
                <p class="pricing__note">
                    Rates based on average qualifying monthly payments for 5 years. Interest rates and loan terms can vary
                    based on 3rd party financing qualification. Some loans may be extended to up to 10 years and may lower
                    monthly payment amounts.
                </p>
            </div>
        </div>
    </div>
</section>
