<section class="quiz">
    <div class="container">
        <div class="quiz__wrapper">
            <div class="quiz__intro">
                <h2 class="quiz__title">Are Dental Implants Right for You?</h2>
                <p class="quiz__subtitle">
                    Just answer a few questions to learn more about our pricing and payment options
                </p>
                <div class="quiz__image">
                    <img src="../../assets/images/quiz/quiz.png" alt="Smiling person">
                </div>
            </div>

            <form class="quiz__form">
                <div class="quiz__step">
                    <div class="quiz__step-header">
                        <div class="quiz__progress">
                            <span class="quiz__progress-step">1 of 20</span>
                            <div class="quiz__progress-bar">
                                <div class="quiz__progress-fill" style="width: 10%;"></div>
                            </div>
                        </div>
                        <h3 class="quiz__step-title">What Best Describes Your Condition?</h3>
                    </div>
                    <div class="quiz__options">
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="radio" name="condition" value="all-teeth"
                                id="option1">
                            <label class="quiz__option" for="option1">
                                <span class="quiz__option-text">I Have All My Teeth</span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="radio" name="condition" value="one-tooth"
                                id="option2" checked>
                            <label class="quiz__option" for="option2">
                                <span class="quiz__option-text">I'm Missing One Tooth</span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="radio" name="condition" value="multiple-teeth"
                                id="option3">
                            <label class="quiz__option" for="option3">
                                <span class="quiz__option-text">I'm Missing Multiple Teeth</span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="radio" name="condition" value="all-teeth"
                                id="option4">
                            <label class="quiz__option" for="option4">
                                <span class="quiz__option-text">I'm Missing All My Teeth</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="quiz__step" style="display: none;">
                    <div class="quiz__step-header">
                        <div class="quiz__progress">
                            <span class="quiz__progress-step">5 of 20</span>
                            <div class="quiz__progress-bar">
                                <div class="quiz__progress-fill" style="width: 15%;"></div>
                            </div>
                        </div>
                        <h3 class="quiz__step-title">Do You Feel That Tooth Loss Has Affected Your...</h3>
                    </div>
                    <div class="quiz__options">
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="checkbox" name="affect" value="personal-life"
                                id="affect1">
                            <label class="quiz__option" for="affect1">
                                <span class="quiz__option-text">Personal Life</span>
                                <span class="quiz__option-checkmark">
                                    <img src="../../assets/images/icons/tick.svg" alt="">
                                </span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="checkbox" name="affect" value="professional-life"
                                id="affect2" checked>
                            <label class="quiz__option" for="affect2">
                                <span class="quiz__option-text">Professional Life</span>
                                <span class="quiz__option-checkmark">
                                    <img src="../../assets/images/icons/tick.svg" alt="">
                                </span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="checkbox" name="affect" value="enjoyment-food"
                                id="affect3" checked>
                            <label class="quiz__option" for="affect3">
                                <span class="quiz__option-text">Enjoyment of Food</span>
                                <span class="quiz__option-checkmark">
                                    <img src="../../assets/images/icons/tick.svg" alt="">
                                </span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="checkbox" name="affect" value="physical-comfort"
                                id="affect4">
                            <label class="quiz__option" for="affect4">
                                <span class="quiz__option-text">Physical Comfort</span>
                                <span class="quiz__option-checkmark">
                                    <img src="../../assets/images/icons/tick.svg" alt="">
                                </span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="checkbox" name="affect" value="oral-health"
                                id="affect5">
                            <label class="quiz__option" for="affect5">
                                <span class="quiz__option-text">Oral Health</span>
                                <span class="quiz__option-checkmark">
                                    <img src="../../assets/images/icons/tick.svg" alt="">
                                </span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="checkbox" name="affect"
                                value="appearance-confidence" id="affect6">
                            <label class="quiz__option" for="affect6">
                                <span class="quiz__option-text">Appearance/Self Confidence</span>
                                <span class="quiz__option-checkmark">
                                    <img src="../../assets/images/icons/tick.svg" alt="">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="quiz__navigation">
                        <button class="quiz__button quiz__button--submit button button--blue" type="button">
                            <span class="button-text">NEXT</span>
                        </button>
                        <button class="quiz__button quiz__button--back button button--transparent" type="button">
                            <span class="button-text">BACK</span>
                        </button>
                    </div>
                    <div class="quiz__error">At least one option needs to be selected</div>

                </div>

                <div class="quiz__step" style="display: none;">
                    <div class="quiz__step-header">
                        <div class="quiz__progress">
                            <span class="quiz__progress-step">10 of 20</span>
                            <div class="quiz__progress-bar">
                                <div class="quiz__progress-fill" style="width: 20%;"></div>
                            </div>
                        </div>
                        <h3 class="quiz__step-title">Please Describe Your Current Oral Health Situation And The
                            Challenges
                            That You Are Experiencing</h3>
                    </div>
                    <div class="quiz__form-field">
                        <textarea class="quiz__form-textarea" name="health-situation" rows="4"
                            placeholder="Title"></textarea>
                    </div>
                    <div class="quiz__navigation">
                        <button class="quiz__button quiz__button--submit button button--blue" type="button">
                            <span class="button-text">NEXT</span>
                        </button>
                        <button class="quiz__button quiz__button--back button button--transparent" type="button">
                            <span class="button-text">BACK</span>
                        </button>
                    </div>
                </div>

                <div class="quiz__step" style="display: none;">
                    <div class="quiz__step-header">
                        <div class="quiz__progress">
                            <span class="quiz__progress-step">15 of 20</span>
                            <div class="quiz__progress-bar">
                                <div class="quiz__progress-fill" style="width: 10%;"></div>
                            </div>
                        </div>
                        <h3 class="quiz__step-title">For Your Convenience, We Will Send You The Customized Information
                            In Regards To Pricing For Dental Implants Via Text And Email</h3>
                    </div>
                    <div class="quiz__options">
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="radio" name="consent" value="yes" id="consent1">
                            <label class="quiz__option" for="consent1">
                                <span class="quiz__option-text">Yes send me the information</span>
                            </label>
                        </div>
                        <div class="quiz__option-wrapper">
                            <input class="quiz__option-input" type="radio" name="consent" value="no" id="consent2">
                            <label class="quiz__option" for="consent2">
                                <span class="quiz__option-text">No, I do not wish to receive information regarding
                                    pricing
                                    for dental implants</span>
                            </label>
                        </div>
                    </div>
                    <div class="quiz__navigation">
                        <button class="quiz__button quiz__button--submit button button--blue" type="button">
                            <span class="button-text">NEXT</span>
                        </button>
                        <button class="quiz__button quiz__button--back button button--transparent" type="button">
                            <span class="button-text">BACK</span>
                        </button>
                    </div>
                </div>

                <div class="quiz__step" style="display: none;">
                    <div class="quiz__step-header">
                        <div class="quiz__progress">
                            <span class="quiz__progress-step">20 of 20</span>
                            <div class="quiz__progress-bar">
                                <div class="quiz__progress-fill" style="width: 10%;"></div>
                            </div>
                        </div>
                        <h3 class="quiz__step-title">Personal Details</h3>
                    </div>
                    <div class="quiz__form-fields">
                        <div class="quiz__form-field">
                            <input class="quiz__form-input" type="text" id="firstName" name="first-name" placeholder=" "
                                required>
                            <label class="quiz__form-label" for="firstName">First Name</label>
                        </div>
                        <div class="quiz__form-field">
                            <input class="quiz__form-input" type="text" id="lastName" name="last-name" placeholder=" "
                                required>
                            <label class="quiz__form-label" for="lastName">Last Name</label>
                        </div>
                        <div class="quiz__form-field">
                            <input class="quiz__form-input" type="tel" id="phone" name="phone" placeholder=" " required>
                            <label class="quiz__form-label" for="phone">Phone</label>
                        </div>
                        <div class="quiz__form-field">
                            <input class="quiz__form-input is-invalid" type="email" id="email" name="email"
                                placeholder=" " required>
                            <label class="quiz__form-label" for="email">Email</label>
                        </div>
                        <div class="quiz__form-field">
                            <input class="quiz__form-input" type="text" id="postalCode" name="postal-code"
                                placeholder=" " required>
                            <label class="quiz__form-label" for="postalCode">Postal Code</label>
                        </div>
                    </div>
                    <div class="quiz__navigation">
                        <button class="quiz__button quiz__button--submit button button--green" type="submit">
                            <span class="button-text">SUBMIT</span>
                            <img class="button--icon" src="../../assets/images/icons/arrow-next-light.svg" alt="">
                        </button>
                        <button class="quiz__button quiz__button--back button button--transparent" type="button">
                            <span class="button-text">BACK</span>
                        </button>
                    </div>
                    <div class="quiz__error">All fields must be completed before submitting</div>
                    <div class="quiz__error">Check the format of your email and phone number</div>
                </div>

                <div class="quiz__step quiz__done" style="display: none;">
                    <div class="quiz__done-header">
                        <img class="quiz__done-icon" src="../../assets/images/quiz/done.svg" alt="">
                        <h3 class="quiz__done-title">Got It!</h3>
                    </div>
                    <p class="quiz__done-message">
                        Our team will review your answers and send you personalized details about dental implant pricing
                        and financing options via text and email if you opted in. If you have any questions or need
                        immediate assistance, please feel free to contact our office. We look forward to helping you on
                        your journey to a healthier, more confident smile!
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>
