<div class="visit-us">
    <div class="container">
        <div class="visit-us__wrapper">
            <div class="visit-us__info">
                <h2 class="visit-us__title">Visit Us</h2>
                <span class="visit-us__address">425 Essex Street Millburn, NJ 07041</span>
                <div class="visit-us__contacts">
                    <div class="visit-us__item">
                        <span class="visit-us__label">Phone</span>
                        <span class="visit-us__value">
                            <a href="#">1 (973) 535-4300</a>
                        </span>
                    </div>
                    <div class="visit-us__item">
                        <span class="visit-us__label">Fax</span>
                        <span class="visit-us__value visit-us__value--red">
                            <a href="#">1 (973) 241–3720</a>
                        </span>
                    </div>
                    <div class="visit-us__item">
                        <span class="visit-us__label">Email</span>
                        <span class="visit-us__value">
                            <a href="#">Send us a message</a>
                        </span>
                    </div>
                </div>
                <div class="visit-us__hours">
                    <h3 class="visit-us__hours-title">Office Hours</h3>
                    <div class="visit-us__item">
                        <span class="visit-us__label">Mon</span>
                        <span class="visit-us__value">10 am to 7 pm</span>
                    </div>
                    <div class="visit-us__item">
                        <span class="visit-us__label">Tue</span>
                        <span class="visit-us__value">10 am to 7 pm</span>
                    </div>
                    <div class="visit-us__item">
                        <span class="visit-us__label">Wed</span>
                        <span class="visit-us__value">10 am to 7 pm</span>
                    </div>
                    <div class="visit-us__item">
                        <span class="visit-us__label">Thu</span>
                        <span class="visit-us__value">10 am to 7 pm</span>
                    </div>
                    <div class="visit-us__item">
                        <span class="visit-us__label">Fri</span>
                        <span class="visit-us__value">10 am to 3 pm</span>
                    </div>
                </div>
            </div>
            <div class="visit-us__map">
                <img src="../../assets/images/visit-us/map.png" alt="Map of 425 Essex Street Millburn, NJ 07041"
                    class="visit-us__map-image">
            </div>
        </div>
    </div>
</div>
