<section class="feedback">
    <div class="container">
        <h1 class="feedback__title">Send Us a Message</h1>
        <div class="feedback__wrapper">
            <form action="" class="form feedback__form">
                <div class="form-fields feedback__form-fields">
                    <div class="form-field feedback__form-field">
                        <input class="form-input feedback__form-input" type="text" id="name" name="name" placeholder=" "
                            required>
                        <label class="form-label feedback__form-label" for="name">Name</label>
                    </div>
                    <div class="form-field feedback__form-field">
                        <input class="form-input feedback__form-input" type="tel" id="phone" name="phone"
                            placeholder=" " required>
                        <label class="form-label feedback__form-label" for="phone">Phone</label>
                    </div>
                    <div class="form-field feedback__form-field">
                        <input class="form-input feedback__form-input" type="email" id="email" name="email"
                            placeholder=" " required>
                        <label class="form-label feedback__form-label" for="email">Email</label>
                    </div>
                    <div class="form-field feedback__form-field">
                        <textarea class="form-textarea feedback__form-textarea" name="message" rows="4"
                            placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="form-field-checkbox feedback__form-field-checkbox">
                    <input class="form-checkbox feedback__form-checkbox" type="checkbox" id="consent" name="consent"
                        required>
                    <label class="form-label-checkbox feedback__form-label-checkbox" for="consent">
                        <span class="form-checkbox__custom"></span>
                        I consent to receive SMS text messages from Dentist Millburn. Message and data rates may
                        apply. Reply STOP to opt out.
                    </label>
                </div>
                <button class="feedback__form-button button button--blue" type="submit">
                    <span class="button-text">SUBMIT</span>
                </button>
            </form>
        </div>
    </div>
</section>
