@use "../../utils/utils" as *;
@use "../../components/components" as *;

.problem-solution {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .problem-solution__wrapper
  &__wrapper {
    display: flex;
    align-items: stretch;
    gap: 2rem;

    @include media(992.98, "max") {
      flex-direction: column;
    }
  }

  // .problem-solution__card
  &__card {
    padding: 3rem;
    border-radius: 2rem;
    flex: 1 1 0;
    min-width: 0;
  }

  // .problem-solution__card--problem
  &__card--problem {
    background: #fdf4f4;
  }

  // .problem-solution__card--solution
  &__card--solution {
    background: #f2f9f8;
  }

  // .problem-solution__card-header
  &__card-header {
    margin-bottom: 2rem;
  }

  // .problem-solution__card-icon
  &__card-icon {
    max-width: 2.6rem;
    width: 100%;
    height: 2.6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .problem-solution__card-content
  &__card-content {
  }

  // .problem-solution__card-text
  &__card-text {
    @include paragraph;
  }
}

