@use "../../utils/utils" as *;
@use "../../components/components" as *;

.reviews-video {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .reviews-video__title
  &__title {
    @include h1;
    margin-bottom: 4rem;
    text-align: center;

    @include media(992.98, "max") {
      @include h1-mob;
      margin-bottom: 3rem;
    }
  }

  // .reviews-video__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include media(992.98, "max") {
      gap: 2rem;
    }

    @include media(768.98, "max") {
      grid-template-columns: repeat(1, 1fr);
      gap: 3rem;
    }
  }

  // .reviews-video__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  // .reviews-video__video
  &__video {
    width: 100%;
    max-height: 23.6rem;
    position: relative;

    @include media(768.98, "max") {
      max-height: 30rem;
    }


    img {
      width: 100%;
      height: 100%;
      flex: 1;
      object-fit: cover;
    }
  }

  // .reviews-video__play
  &__play {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    img {
      width: 6rem;
      height: 4.2rem;
    }
  }

  // .reviews-video__content
  &__content {
    display: flex;
    flex-direction: column;
  }

  // .reviews-video__label
  &__label {
    @include h2;
    margin-bottom: 2rem;
  }

  // .reviews-video__name
  &__name {
    @include paragraph;
  }
}
