@use "../../utils/utils" as *;
@use "../../components/components" as *;

.reviews-text {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .reviews-text__title
  &__title {
    @include h1;
    margin-bottom: 4rem;
    text-align: center;

    @include media(992.98, "max") {
      @include h1-mob;
      margin-bottom: 3rem;
    }
  }

  // .reviews-text__wrapper
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include media(576.98, "max") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .reviews-text__col
  &__col {
    background: rgba(247, 247, 247, 1);
    border-radius: 2rem;
    padding: 3rem;
    height: max-content;
  }

  // .reviews-text__rating
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  // .reviews-text__rating-icon
  &__rating-icon {
    max-width: 2.6rem;
    width: 100%;
    height: 2.6rem;

    &:not(:last-child) {
      margin-right: 0.6rem;
    }
  }

  // .reviews-text__text
  &__text {
    @include paragraph;
    margin-bottom: 2rem;
  }

  // .reviews-text__meta
  &__meta {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  // .reviews-text__avatar
  &__avatar {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background: $medium-gray;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include inter-regular;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
  }

  // .reviews-text__name
  &__name {
    @include small;
  }
}
