<section class="dental-care">
    <div class="container">
        <h2 class="dental-care__title">Dental Care You Can Trust</h2>

        <div class="dental-care__wrapper">
            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-1.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">Expert Leadership</h3>
                <p class="dental-care__item-text">
                    Dr. Grey’s expertise ensures high-quality, personalized implant treatments for lasting results
                    and
                    optimal oral health.
                </p>
            </div>

            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-2.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">Cutting-Edge Tech</h3>
                <p class="dental-care__item-text">
                    Advanced Yomi Robotic-Assisted Tech ensures precise, minimally invasive, and long-lasting
                    implants.
                </p>
            </div>

            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-3.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">Top-Rated Practice</h3>
                <p class="dental-care__item-text">
                    4.8 stars on Google Maps (338+ reviews) — we’re consistently praised for our care and results.
                </p>
            </div>
            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-4.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">No Pain, No Stress</h3>
                <p class="dental-care__item-text">
                    We use advanced technology and sedation options to ensure your dental visits are comfortable,
                    quick,
                    and
                    painless. Your comfort is our priority.
                </p>
            </div>

            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-5.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">Multilingual Team</h3>
                <p class="dental-care__item-text">
                    We speak English, Russian, Ukrainian, Spanish, and more — making communication easy for
                    everyone.
                </p>
            </div>

            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-6.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">Same Day Smile</h3>
                <p class="dental-care__item-text">
                    Get a full arch implant and new smile in just 6 hours with our Same Day Smile package.
                </p>
            </div>
            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-7.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">Flexible Payments</h3>
                <p class="dental-care__item-text">
                    We offer third-party financing options through CareCredit, Cherry, Proceed Finance, and Alphaeon
                    Credit.
                </p>
            </div>

            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-8.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">Prime Location</h3>
                <p class="dental-care__item-text">
                    Conveniently located in downtown Millburn, NJ, with free parking and easy access to the train
                    station.
                </p>
            </div>

            <div class="dental-care__item">
                <div class="dental-care__item-icon">
                    <img src="../../assets/images/services/dental-care/dental-care-9.svg" alt="">
                </div>
                <h3 class="dental-care__item-title">Free 90-Minute Consultation</h3>
                <p class="dental-care__item-text">
                    Receive a comprehensive consultation, including X-rays and a personalized treatment plan at no
                    cost.
                </p>
            </div>
        </div>
    </div>
</section>
