<section class="problem-solution">
    <div class="container">
        <div class="problem-solution__wrapper">
            <div class="problem-solution__card problem-solution__card--problem">
                <div class="problem-solution__card-header">
                    <div class="problem-solution__card-icon">
                        <img src="../../assets/images/services/problem-solution/problem.svg" alt="">
                    </div>
                </div>
                <div class="problem-solution__card-content">
                    <p class="problem-solution__card-text">
                        If you're experiencing tooth pain, especially when chewing, or increased sensitivity to hot or
                        cold, your tooth’s nerve might be damaged. This could be caused by deep decay or a fracture. If
                        left untreated, the infection can spread, potentially leading to tooth loss.
                    </p>
                </div>
            </div>

            <div class="problem-solution__card problem-solution__card--solution">
                <div class="problem-solution__card-header">
                    <div class="problem-solution__card-icon">
                        <img src="../../assets/images/services/problem-solution/solution.svg" alt="">
                    </div>
                </div>
                <div class="problem-solution__card-content">
                    <p class="problem-solution__card-text">
                        Root canal therapy removes the infected tissue, cleans the root canals, and seals them to
                        prevent further infection. Afterward, the tooth is restored with a filling or crown to maintain
                        its shape and function. This helps preserve the tooth and relieve pain.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

