<section class="reviews-text">
    <div class="container">
        <h2 class="reviews-video__title">Testimonials</h2>
        <div class="reviews-text__wrapper">
            <div class="reviews-text__col">
                <div class="reviews-text__rating">
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="reviews-text__text">It is always a pleasure going to Dr. Greyf's dental practice. From the
                    staff to the service, absolutely amazing! The staff are always welcoming, and they are flexible when
                    it comes to scheduling my appointments. And my dental hygienist is the best! She is soo thorough and
                    knowledgeable. It just makes my experience coming to the dentist wonderful.</p>
                <div class="reviews-text__meta">
                    <div class="reviews-text__avatar" style="background: #03877a;">
                        S
                    </div>
                    <span class="reviews-text__name">Sarah T.</span>
                </div>
            </div>
            <div class="reviews-text__col">
                <div class="reviews-text__rating">
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="reviews-text__text">I had been looking for a good dentist for 15 years in Staten Island and
                    found this office in NJ. Now I am seeing Dr. Greyf and Dr. Desai since May 2021 and everybody is
                    nice and responsive. The doctor addressed the issue right away and put in place an affordable
                    treatment plan. His bedside manner is great! After that, I referred a lot of my coworkers and
                    friends. They are also happy with the dental care they are getting.</p>
                <div class="reviews-text__meta">
                    <div class="reviews-text__avatar" style="background: #ea6e06;">
                        J
                    </div>
                    <span class="reviews-text__name">John M.</span>
                </div>
            </div>
            <div class="reviews-text__col">
                <div class="reviews-text__rating">
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                    <div class="reviews-text__rating-icon">
                        <img src="../../assets/images/icons/star-reviews.svg" alt="">
                    </div>
                </div>
                <p class="reviews-text__text">Went for a visit at Dr. Greyf DDS in Millburn NJ. Dr. Desai and the team
                    make me feel appreciated, they are very professional. During my procedure she explained the process
                    and stopped during the procedure to check and make sure I'm okay. Awesome service from the beginning
                    to the end! The ladies at the front desk are very welcoming. Thanks for your assistance, team Greyf!
                </p>
                <div class="reviews-text__meta">
                    <div class="reviews-text__avatar" style="background: #ab46bc;">
                        A
                    </div>
                    <span class="reviews-text__name">Arlene F.</span>
                </div>
            </div>
        </div>
    </div>
</section>
