<section class="reviews-video">
    <div class="container">
        <h2 class="reviews-video__title">Testimonials</h2>
        <div class="reviews-video__wrapper">
            <div class="reviews-video__item">
                <div class="reviews-video__video">
                    <img src="../../assets/images/testimonials/testimonials-video/testimonials-video-poster.png" alt="">
                    <button class="reviews-video__play">
                        <img src="../../assets/images/icons/play-red.svg" alt="">
                    </button>
                </div>
                <div class="reviews-video__content">
                    <span class="reviews-video__label">The process was quick and painless. I’m so glad I did it!</span>
                    <span class="reviews-video__name">Sarah T.</span>
                </div>
            </div>
            <div class="reviews-video__item">
                <div class="reviews-video__video">
                    <img src="../../assets/images/testimonials/testimonials-video/testimonials-video-poster.png" alt="">
                    <button class="reviews-video__play">
                        <img src="../../assets/images/icons/play-red.svg" alt="">
                    </button>
                </div>
                <div class="reviews-video__content">
                    <span class="reviews-video__label">I had no idea root canals could be this easy. Highly
                        recommend!</span>
                    <span class="reviews-video__name">John M.</span>
                </div>
            </div>
            <div class="reviews-video__item">
                <div class="reviews-video__video">
                    <img src="../../assets/images/testimonials/testimonials-video/testimonials-video-poster.png" alt="">
                    <button class="reviews-video__play">
                        <img src="../../assets/images/icons/play-red.svg" alt="">
                    </button>
                </div>
                <div class="reviews-video__content">
                    <span class="reviews-video__label">Text</span>
                    <span class="reviews-video__name">Patient</span>
                </div>
            </div>
        </div>
    </div>
</section>
