<div class="yomi-benefits yomi-benefits-services">
    <div class="container">
        <div class="yomi-benefits__wrapper">
            <div class="yomi-benefits__left">
                <div class="yomi-benefits__column">
                    <h2 class="yomi-benefits__title">Yomi robotic system makes implant supported dentures faster than
                        ever
                    </h2>
                    <p class="yomi-benefits__text">With the implementation of the Yomi Robotic System for implant
                        placement,
                        as well as the state-of-the-art digital design software available at our office, it is now
                        easier
                        and faster than ever to provide patients with implant-supported dentures. Depending on if it's a
                        single or dual arch procedure, your implants can be placed and your temporary denture can be
                        3D-printed and fitted to the implants in just a few short hours!
                    </p>
                    <p class="yomi-benefits__text">Our team is also happy to offer same-day denture conversion; if you
                        already have a removable implant
                        denture, we are able to convert it to a fixed denture in one day! No more taking your dentures
                        out
                        to clean them or to sleep.</p>
                </div>
                <div class="yomi-benefits__column">
                    <h2 class="yomi-benefits__title">Why you should install our implants</h2>
                    <p class="yomi-benefits__text">We use the Yomi Robotic System — a breakthrough in dental implant
                        technology that
                        helps your doctor place implants with unmatched accuracy, safety, and care.</p>
                    <ul class="yomi-benefits__list">
                        <li class="yomi-benefits__list-item">Millimeter-level precision using 3D scans</li>
                        <li class="yomi-benefits__list-item">Safer surgery, even with bone loss or complex anatomy</li>
                        <li class="yomi-benefits__list-item">Less invasive, faster recovery</li>
                        <li class="yomi-benefits__list-item">Robot assists, doctor stays in full control</li>
                        <li class="yomi-benefits__list-item">Fewer complications, better long-term results</li>
                    </ul>
                </div>
            </div>
            <div class="yomi-benefits__right">
                <form class="yomi-benefits__form">
                    <div class="yomi-benefits__form-header">
                        <img src="../../assets/images/icons/calendar.svg" class="yomi-benefits__form-icon" alt="">
                        <h3 class="yomi-benefits__form-title">Schedule a consultation</h3>
                    </div>
                    <p class="yomi-benefits__form-text">Please leave your phone number. We will contact you to
                        arrange
                        an
                        appointment
                        time with the doctor.</p>
                    <input class="yomi-benefits__form-input" type="tel" placeholder="Phone Number">
                    <button class="yomi-benefits__form-button button button--blue" type="submit">
                        <span class="button-text">SUBMIT A REQUEST</span>
                    </button>
                    <p class="yomi-benefits__form-note">Or sign up via us at <span>(973) 535-4300</span> on weekdays
                        from 10:00 AM to 7:00 PM
                    </p>
                </form>
                <div class="yomi-benefits__success-message" style="display: none;">
                    <div class="yomi-benefits__success-message-icon">
                        <img src="../../assets/images/icons/check-green.svg" alt="">
                    </div>
                    <h2 class="yomi-benefits__success-message-title">Thank You!</h2>
                    <p class="yomi-benefits__success-message-text">We’ve received your request and will be in touch
                        shortly to schedule your consultation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
