<section class="team">
    <div class="container">
        <div class="team__wrapper">
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-1.png" alt="">
                    </div>
                    <h3 class="team__card-name">Dr. Arthur Greyf</h3>
                </div>
                <p class="team__card-text">Dr. Arthur Greyf is honored to give people beautiful smiles while restoring
                    their dental health and function.</p>
                <p class="team__card-text">Since opening his practice in 2000, Dr. Greyf has continually incorporated
                    the latest high-tech equipment and advanced techniques into his patient care. This allows him to
                    deliver amazing results in the shortest time frame.</p>
                <p class="team__card-text">By providing the best of modern dentistry, in a welcoming and
                    service-oriented environment, he ensures his patients achieve the results they deserve: optimal oral
                    health and smiles they love to share!</p>
                <a href="#" class="team__card-button button button--blue">
                    <span class="button-text">Learn more</span>
                </a>
            </div>
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-2.png" alt="">
                    </div>
                    <h3 class="team__card-name">Karen</h3>
                </div>
                <p class="team__card-text">I love meeting so many wonderful people and sharing my passion for dentistry.
                    It is my pleasure to help create a calm and welcoming environment for patients where they can be
                    cared for by our skilled, compassionate doctors and support staff.</p>
                <p class="team__card-text">Karen has been in the dental field for over 30 years and has done almost
                    everything in a dental office from reception, chairside-assisting, insurance, treatment planning,
                    and finance. She is bringing her knowledge and experience to train and support the staff.</p>
                <p class="team__card-text">When not at work, Karen enjoys vegan cooking & baking and photography. She
                    loves spending time with her family, especially when attending live music events, plays, and art
                    exhibits.</p>
            </div>
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-3.png" alt="">
                    </div>
                    <h3 class="team__card-name">Iryna</h3>
                </div>
                <p class="team__card-text">Iryna is originally from Ukraine and has been working in the dental field and
                    by Dr. Greyf's side for over 20 years. She is a highly trained registered dental assistant who takes
                    pride in staying current with continuing dental education classes, as a commitment to helping and
                    caring for the patient's dental health and comfort. She enjoys cooking, reading, and spending time
                    with her grandchildren in her free time. She is looking forward to meeting you soon!</p>
            </div>
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-4.png" alt="">
                    </div>
                    <h3 class="team__card-name">Farkhod</h3>
                </div>
                <p class="team__card-text">«Dentistry is my passion. I enjoy helping people to overcome their fear of
                    dentistry, teach them about the importance of oral health, and give them the opportunity to smile
                    with confidence».</p>
                <p class="team__card-text">Farkhod recently moved to the U.S. from Uzbekistan where he graduated from
                    Uzbekistan State University of Dentistry. He came to learn rapidly changing dental technology.
                    Currently, he is working as a dental assistant while going to school to get his license in the
                    states.</p>
                <p class="team__card-text">When not at work he spends a lot of time traveling and fishing. His hobby is
                    to take pictures of different styles of architecture. He is always open to new experiences and
                    adventures.</p>
            </div>
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-5.png" alt="">
                    </div>
                    <h3 class="team__card-name">Viktoriia</h3>
                </div>
                <p class="team__card-text">Viktoriia recently moved to the United States from Ukraine. She really enjoys
                    working with patients, and likes seeing the wonderful smile makeovers. Victoria is currently working
                    as a dental assistant while going to school to continue her education to become an attorney. In her
                    free time, she enjoys sports, traveling, watching movies and spending time with her fiancee.</p>
            </div>
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-6.png" alt="">
                    </div>
                    <h3 class="team__card-name">Emely</h3>
                </div>
                <p class="team__card-text">Emely is often the first friendly face our new patients meet, aiming to make
                    everyone feel welcomed, understood, and cared for from the start. Originally from Ecuador, she holds
                    a BA in Translation and completed three years of dental studies before moving to New Jersey. She
                    later earned a BS in Science from Montclair State University. This diverse background helps her
                    connect with patients, especially those feeling nervous, and explain dental care clearly and
                    reassuringly.</p>
                <p class="team__card-text">Fully bilingual in Spanish and English, Emely takes pride in supporting
                    patients from diverse backgrounds. She assists new patients with scheduling, paperwork, and
                    questions to ensure a smooth, stress-free first visit. Emely is passionate about dentistry and hopes
                    to become a dentist one day. Outside work, she enjoys traveling and spending time with family.</p>
            </div>
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-7.png" alt="">
                    </div>
                    <h3 class="team__card-name">Katerina</h3>
                </div>
                <p class="team__card-text">Katerina, is originally from Riga, Latvia. She relocated to New Jersey in
                    2008 from Connecticut and has been working with Dr. Greyf since and never looked back! In her role
                    as Office Manager, she has found love for both the clinical side of helping others achieve their
                    dental health and smile goals, as well as the administrative side of work with the practice's
                    fantastic patients. She absolutely adores the amazing team who has become her work family. She loves
                    to travel and spend time outdoors. She enjoys cooking and spending fun quality time with her family.
                </p>
            </div>
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-8.png" alt="">
                    </div>
                    <h3 class="team__card-name">Zhanna</h3>
                </div>
                <p class="team__card-text">'Being able to smile confidently makes a great impact on people«s lives and I
                    am happy that I can help».
                </p>
                <p class="team__card-text">Zhanna is a successful dentist from Ukraine. She and her family moved to the
                    United States when the war started back home. Currently she is working as a dental assistant while
                    going to school to get her dental license. She loves her job and learning new things in dentistry.
                    She takes pride in and enjoys making positive changes in people's lives.
                </p>
                <p class="team__card-text">She also enjoys sports like acrobatics and gymnastics, and spends a lot of
                    time reading and traveling.
                </p>
            </div>
            <div class="team__card">
                <div class="team__card-header">
                    <div class="team__card-avatar">
                        <img src="../../assets/images/meet-the-team/team/team-block-9.png" alt="">
                    </div>
                    <h3 class="team__card-name">Melissa</h3>
                </div>
                <p class="team__card-text">Hello, Melissa here! I'm your New Patient Coordinator, dedicated to making
                    your first experience with our practice comfortable and informative. Since 2015, I’ve worked in the
                    dental field and hold a certification in Dental Radiology, giving me a solid understanding of office
                    operations and patient care. I spend much of my time on the phone, listening to patients’ concerns
                    and helping those interested in dental implants. My background in customer service, including family
                    business and as a flight attendant, helps me anticipate needs and offer great support.
                </p>
                <p class="team__card-text">It’s very rewarding to hear the happiness in a patient’s voice when they find
                    the right solution, and I’m here to guide you throughout the process. I’m also fluent in Brazilian
                    Portuguese. Outside work, I enjoy crafts, traveling, and spending time with my family.
                </p>
            </div>
        </div>
    </div>
</section>
