@use "../../utils/utils" as *;
@use "../../components/components" as *;

.implants-when {
  margin-bottom: 6rem;

  @include media(992.98, "max") {
    margin-bottom: 4rem;
  }

  // .implants-when__wrapper
  &__wrapper {
    border-radius: 2rem;
    overflow: hidden;
    background: $sand;
    padding: 5rem 6rem;

    @include media(992.98, "max") {
      padding: 3rem;
    }
  }

  // .implants-when__header
  &__header {
    margin-bottom: 3rem;
  }

  // .implants-when__title
  &__title {
    @include h2;
    margin-bottom: 3rem;
  }

  // .implants-when__description
  &__description {
    @include paragraph;
  }

  // .implants-when__content
  &__content {
    display: flex;
    gap: 6rem;

    @include media(992.98, "max") {
      flex-direction: column;
      gap: 4rem;
    }

    @include media(576.98, "max") {
        gap: 3rem;
    }
  }

  // .implants-when__column
  &__column {
    flex: 1 1 0;
    min-width: 0;
  }

  // .implants-when__label
  &__label {
    @include h3;
    margin-bottom: 1rem;
  }

  // .implants-when__text
  &__text {
    @include paragraph;
    margin-bottom: 1rem;
  }

  // .implants-when__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 3rem;
    list-style-type: none;
  }

  // .implants-when__list-item
  &__list-item {
    position: relative;
    @include paragraph;

    &::before {
      content: "";
      position: absolute;
      top: 0.4rem;
      left: -3rem;
      background-image: url("../assets/images/icons/tick.svg");
      background-repeat: no-repeat;
      width: 2rem;
      height: 2rem;
    }
  }

  // .implants-when__arrow
  &__arrow {
    max-width: 8rem;
    width: 100%;
    height: 8rem;
    border-radius: 50%;
    padding: 2.2rem;
    background: $green;
    align-self: center;

    @include media(992.98, "max") {
      max-width: 6rem;
      height: 6rem;
      padding: 1.6rem;
    }

    img {
      width: 100%;
      height: 100%;

      @include media(992.98, "max") {
        transform: rotate(90deg);
      }
    }
  }
}
