@use "../../utils/utils" as *;
@use "../../components/components" as *;

.steps-smile {
  margin-bottom: 6rem;

  @include media(576.98, "max") {
    margin-bottom: 4rem;
  }

  // .steps-smile__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    background: $sand;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    @include media(992.98, "max") {
      padding: 3rem;
    }
  }

  // .steps-smile__header
  &__header {
    max-width: 61rem;
    width: 100%;
    margin-bottom: 10rem;

    @include media(992.98, "max") {
      max-width: 100%;
      margin-bottom: 3rem;
    }
  }

  // .steps-smile__title
  &__title {
    @include h1;
    margin-bottom: 2rem;
    @include media(992.98, "max") {
      @include h1-mob;
    }

    @include media(768.98, "max") {
      max-width: 24rem;
      width: 100%;
    }
  }

  // .steps-smile__text
  &__text {
    @include paragraph;
  }

  // .steps-smile__image
  &__image {
    position: absolute;
    top: -9.5rem;
    right: -9.5rem;
    width: 50%;
    max-width: 60rem;
    aspect-ratio: 3 / 2;
    overflow: hidden;

    @include media(1200.98, "max") {
      right: 0;
      top: -5rem;
      width: 30%;
    }

    @include media(992.98, "max") {
      top: -1rem;
      width: 15.2rem;
      max-width: 100%;
      aspect-ratio: initial;
    }

    @include media(400.98, "max") {
      right: -5rem;
      top: -1.5rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
      mask-image: url("../assets/svg/smile-mask.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }

  // .steps-smile__line
  &__line {
    display: flex;
    align-items: flex-start;
    position: relative;
    @include media(768.98, "max") {
      flex-direction: column;
      gap: 2rem;
    }
  }

  // .steps-smile__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 31rem;
    width: 100%;
    position: relative;
    text-align: left;
    z-index: 2;
    padding-right: 4rem;

    @include media(992.98, "max") {
      padding-right: 2rem;
    }

    @include media(768.98, "max") {
      flex-direction: row;
      gap: 2rem;
      max-width: 100%;
      padding: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0.9rem;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $green;
      z-index: -1;

      @include media(768.98, "max") {
        display: none;
      }
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
  }

  // .steps-smile__circle
  &__circle {
    max-width: 2rem;
    width: 100%;
    height: 2rem;
    border-radius: 50%;
    background: #a5cb8f;
    border: 2px solid $green;
    margin-bottom: 2rem;
  }

  // .steps-smile__content
  &__content {
  }

  // .steps-smile__item-title
  &__item-title {
    @include h2-mob;
    margin-bottom: 1rem;
  }

  // .steps-smile__item-text
  &__item-text {
    @include paragraph;
  }
}

.steps-smile-services {
  .steps-smile {
    // .steps-smile__header
    &__header {
      max-width: 65%;
      width: 100%;
      margin-bottom: 10rem;

      @include media(992.98, "max") {
        max-width: 100%;
        margin-bottom: 3rem;
      }
    }

    // .steps-smile__title
    &__title {
      @include h1;
      margin-bottom: 2rem;
      @include media(992.98, "max") {
        @include h1-mob;
      }

      @include media(768.98, "max") {
        max-width: 100%;
        width: 100%;
      }

      @include media(500.98, "max") {
        max-width: 24rem;
        width: 100%;
      }
    }

    // .steps-smile__image
    &__image {
      position: absolute;
      top: -3rem;
      right: -5rem;
      width: 100%;
      max-width: 40rem;
      aspect-ratio: 3 / 2;
      overflow: hidden;

      @include media(1200.98, "max") {
        right: 0;
        top: -5rem;
        width: 30%;
      }

      @include media(992.98, "max") {
        top: -1rem;
        width: 15.2rem;
        max-width: 100%;
        aspect-ratio: initial;
      }

      @include media(400.98, "max") {
        right: -5rem;
        top: -1.5rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
        mask-image: url("../assets/svg/smile-mask.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
      }
    }
  }
}
