@use "../utils/fonts" as *;

// Desktop

@mixin h1-main {
  @include PT-Serif-bold-italic;
  font-size: 6.4rem;
  line-height: 1.17;
}

@mixin h1 {
  @include PT-Serif-bold-italic;
  font-size: 4.2rem;
  line-height: 1;
}

@mixin h2 {
  @include inter-semiBold;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1;
}

@mixin h3 {
  @include inter-semiBold;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.44;
}

@mixin extra-bold {
  @include inter-extraBold;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

@mixin small-extra-bold {
  @include inter-extraBold;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

@mixin paragraph {
  @include inter-regular;
  font-size: 1.6rem;
  line-height: 1.62;
}


@mixin small-caps {
  @include inter-semiBold;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
}

@mixin small {
  @include inter-regular;
  font-size: 1.4rem;
  line-height: 1.42;
}

// Mobile

@mixin h1-mob {
  @include PT-Serif-bold-italic;
  font-size: 3.6rem;
  line-height: 1;
}

@mixin h2-mob {
  @include inter-semiBold;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 1;
}

@mixin extra-bold-mob {
  @include inter-extraBold;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

@mixin small-extra-bold-mob {
  @include inter-extraBold;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

@mixin small-mob {
  @include inter-regular;
  font-size: 1.2rem;
  line-height: 1.66;
}
