html,
body {
	height: 100%;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
	vertical-align: top;
}

:where(figure, blockquote) {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

[hidden] {
  display: none !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
